body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  body {
    background-image: none;
  }
}

body.lock {
  overflow: hidden;
}

.feature {
  position: relative;
  padding-left: 57px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  width: 100%;
  max-width: 280px;
}

.feature:before {
  position: absolute;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "";
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  top: 0;
  left: 0;
  font-size: 48px;
}

.feature_smile:before {
  content: "sentiment_very_satisfied";
}

.feature_apartment:before {
  content: "location_city";
}

.feature__title {
  display: block;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  font-weight: bold;
}

.feature__text {
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
}
