@import "../../../library/templates/base";

.feature {
    position: relative;
    padding-left: 57px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey10;
    width: 100%;
    max-width: 280px;
    margin-bottom: 22px;
    &:before {
        position: absolute;
        @include material-icon;
        content: "";
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-image: $gradient;
        top: 0;
        left: 0;
        font-size: 48px;
    }
    &_smile:before {
        content: "sentiment_very_satisfied";
    }

    &_apartment:before {
        content: "location_city";
    }

    &__title {
        display: block;
        font: $body;
        font-weight: bold;
    }

    &__text {
        font: $body;
    }
}
