body {
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  margin: 0 auto;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  .container {
    background-image: none;
  }
}

.element {
  width: 100%;
  max-width: 320px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  -ms-grid-rows: (max-content)[auto-fit];
      grid-template-rows: repeat(auto-fit, -webkit-max-content);
      grid-template-rows: repeat(auto-fit, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: start;
  row-gap: 16px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.element__subgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px -10px -1px -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.element__subgrid_inner {
  margin: 15px 10px;
}

.element_lowgap {
  row-gap: 5px;
}

.element_nullgap {
  row-gap: 0;
}

.element__title {
  font: 700 12px/15px "Montserrat", "Open sans", sans-serif;
  text-transform: uppercase;
  color: #1f2041;
  -ms-grid-column-align: start;
      justify-self: start;
}

.element__subtitle {
  font: 700 12px/15px "Montserrat", "Open sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.5);
  -ms-grid-column-align: end;
      justify-self: end;
}

.element__body {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.element_short {
  max-width: 266px;
}

.element_short .line {
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.element_shorter {
  max-width: 220px;
}

.element_shorter .line {
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.element__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
}

.element_large {
  width: 120%;
}

@media (max-width: 350px) {
  .element_large {
    width: 100%;
  }
}

.line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  row-gap: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
