body {
  background-color: #fff;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  .container {
    background-image: none;
  }
}

.container.lock {
  overflow: hidden;
}

.pagination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[6];
      grid-template-columns: repeat(6, -webkit-min-content);
      grid-template-columns: repeat(6, min-content);
  row-gap: 9px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.pagination__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(31, 32, 65, 0.5);
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  padding-left: 5px;
}

.pagination__elem_current {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
}

.pagination__arrow {
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #fff;
}
