@import "nullstyle", "fonts";
@import "library/mixins/fill", "library/mixins/font";

$color: (
	1f2041: #1f2041,
	BC9CFF: #bc9cff,
	6fcf97: #6fcf97,
);
$page-width: 1440px;
$page-height: 900px;


@import "library/blocks/text/text";
@import "library/blocks/page/page";
@import "library/blocks/logo/logo";
@import "library/blocks/container/container";

