@import url("/src/fonts/montserrat.css") all;
@import url("/src/fonts/quicksand.css") all;
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
.text_H1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.text_H2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}
.text_H3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.text_maintext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.text {
  color: #1f2041;
}

.page {
  max-width: 1440px;
  width: 100%;
  max-height: 900px;
  height: 100%;
  margin: auto;
}
.page_opacity_75 {
  opacity: 0.75;
}
.page_opacity_50 {
  opacity: 0.5;
}
.page_opacity_25 {
  opacity: 0.25;
}
.page_opacity_5 {
  opacity: 0.05;
}
.page__logo {
  margin-top: 2.083%; /*30px*/
  margin-left: 2.083%; /*30px*/
  margin-bottom: 2.083%; /*30px*/
}
.logo {
  max-width: 48px;
  max-height: 48px;
}
.container {
  display: grid;
}
.page__container {
  max-width: 73.559%; /*1059.249px*/
  max-height: 67.777%; /*609.993px*/
  margin-top: 2.4%; /*34.56px*/
  margin-left: 10.398%; /*149.731x*/
  margin-right: 13.263%; /*190.987px*/
  margin-bottom: 10.069%; /*144.993px*/
}
.container_2column {
  grid-template-areas: "column-1 column-2";
  grid-template-columns: 27% 38.045%; /*285.997px 402.991px*/
  column-gap: 38.9%; /*426.983px*/
}
.column {
  display: grid;
}
.container__column-1 {
  grid-area: column-1;
  grid-template-columns: 24.475% 59%;
  row-gap: 4.2%;
  column-gap: 13.986%;
}
@media (max-width: 992px) {
  .container__column-1 {
    grid-area: column-1;
    display: flex;
    flex-direction: column;
  }
  .text_color-name {
    line-height: 29px;
    margin: auto 0;
    padding-bottom: 20px;
  }
}
.colored-square {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
.colored-square_1F2041 {
  background-color: #1f2041;
  border-color: #1f2041;
  border-style: solid;
}
.colored-square_BC9CFF {
  border-color: #bc9cff;
  border-style: solid;
  background-color: #bc9cff;
}
.colored-square_6FCF97 {
  border-color: #6fcf97;
  border-style: solid;
  background-color: #6fcf97;
}
.text_color-name {
  line-height: 29px;
  margin: auto 0;
}
.text_color-code {
  font-weight: normal;
}

.container__column-2 {
  grid-area: column-2;
  display: grid;
  grid-template-columns: 9.181% 90%; /*37px 336px*/
  column-gap: 7.444%; /*30px*/
  row-gap: 10.5%; /*50px*/
  align-content: flex-start;
}

.text_sample_title {
  margin-left: auto;
  margin-bottom: auto;
}

.text_sample_text {
  margin-bottom: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .container__column-2 {
    grid-area: column-2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .text_sample_title {
    margin: 0 0 10px 0;
  }
  .text_sample_text {
    margin: 0 0 40px 0;
  }
}
.text_sample_title_H1 {
  font-size: 24px;
  line-height: 29px;
}
.text_sample_title_H2 {
  font-size: 19px;
  line-height: 23px;
}
.text_sample_title_H3 {
  font-size: 12px;
  line-height: 15px;
}
