mixin color-sample(color, text)  
	.text.container__color-sample.text_H2= text
		br
		span.text_up-normal= '#'+color

mixin type-sample(title,text)
	.text.text_Body.container__type-sample-title(class='container__type-sample-title_'+title)= title
	.text.container__type-sample-text(class='text_'+title)= text

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initital-scale=1.0")
		title "UI Kit: Colors&Types"
		link(rel="stylesheet" href="colors-types.css")

	body
		.page
			img.logo.page__logo(src="/src/img/logo.svg")
			.container.page__container
				.container__column-1
					+color-sample('1f2041','Dark Shade 100%')
					+color-sample('1f2041','Dark Shade 75%')
					+color-sample('1f2041','Dark Shade 50%')
					+color-sample('1f2041','Dark Shade 25%')
					+color-sample('1f2041','Dark Shade 5%')
					+color-sample('BC9CFF','Purple')
					+color-sample('6fcf97','Green')
				.container__column-2
					+type-sample('H1','This one is the sub-section or widget title')
					+type-sample('H2','Next one is the item title inside widgets')
					+type-sample('H3','This is a text or CTA text')
					+type-sample('Body','This is the body text which is used for most of the design, like paragraphs, lists etc.')

