@font-face {
	font-family: "Montserrat";
	src: local("Montserrat"), url("src/fonts/Montserrat-Bold.woff") format("woff"),
		url("src/fonts/Montserrat-Bold.ttf") format("truetype"), url("src/fonts/Montserrat-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat"), url("src/fonts/Montserrat-Regular.woff") format("woff"),
		url("src/fonts/Montserrat-Regular.ttf") format("truetype"),
		url("src/fonts/Montserrat-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: local("Quicksand"), url("src/fonts/Quicksand-Bold.woff") format("woff"),
		url("src/fonts/Quicksand-Bold.ttf") format("truetype"), url("src/fonts/Quicksand-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: local("Quicksand"), url("src/fonts/Quicksand-Regular.woff") format("woff"),
		url("src/fonts/Quicksand-Regular.ttf") format("truetype"), url("src/fonts/Quicksand-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), url("src/fonts/OpenSans-Regular.svg") format("svg"),
		url("src/fonts/opensans.woff") format("woff"), url("src/fonts/opensans.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), url("src/fonts/OpenSans-Bold.svg") format("svg"),
		url("src/fonts/opensansbold.woff") format("woff"), url("src/fonts/opensansbold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
