extends library/templates/base.pug
block title
	title "Проект сайта гостиницы"
block styles
	link(rel="stylesheet" href="index.css")


block body
	.container
		+expandable-list('UI-Kit','','',0)
			ul.expandable-list__list.element__body
				li
					a.exist(href='pages/UI-Kit/form-elements/form-elements.html') Form elements
				li
					a.exist(href='pages/UI-Kit/colors-types/colors-types.html') Colors&types
				li
					a.exist(href='pages/UI-Kit/headers-footers/headers-footers.html') Headers&footers
				li
					a.exist(href='pages/UI-Kit/cards/cards.html') Cards
		+expandable-list('Pages','','',0)
			ul.expandable-list__list.element__body
				li
					a.exist(href="pages/Site/Registration/registration.html") Registration page
				li
					a.exist(href="pages/Site/signin/signin.html") Sign in page
				li
					a.exist(href="pages/Site/landing/landing.html") Landing page
				li
					a.exist(href="pages/Site/landing-date/landing.html") Landing page with date dropdown
				li
					a.exist(href="pages/Site/landing-guest/landing.html") Landing page with guest dropdown
				li
					a.exist(href="pages/Site/search/search.html") Search/Filter page
				li
					a.exist(href="pages/Site/search dropdown/search.html") Search/Filter/Dropdown page
				li
					a.exist(href="pages/Site/search expandable list/search.html") Search/Filter/Expandable list page
				- var i=9;
				while i<10
					li
						a.null(href='#')='Page №'+i+' ...in process'
						- i++;
	.copyright Проект Михаила Трунина для 
		a(href='http://fullstack-development.com') FSD
	script(src="library/blocks/expandable-list/expandable-list.js")