@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Шрифты */
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Bold.woff") format("woff"), url("../../../src/fonts/Montserrat-Bold.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Bold.svg") format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Regular.woff") format("woff"), url("../../../src/fonts/Montserrat-Regular.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Bold.woff") format("woff"), url("../../../src/fonts/Quicksand-Bold.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Bold.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Regular.woff") format("woff"), url("../../../src/fonts/Quicksand-Regular.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Regular.svg") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Regular.svg") format("svg"), url("../../../src/fonts/opensans.woff") format("woff"), url("../../../src/fonts/opensans.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Bold.svg") format("svg"), url("../../../src/fonts/opensansbold.woff") format("woff"), url("../../../src/fonts/opensansbold.ttf") format("truetype");
}

/* -------------- */
.text {
  color: #1f2041;
}

.text_H1 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.text_H2 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.text_H3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.text_Body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.text_bold {
  font-weight: 700;
}

.text_lh17 {
  line-height: 17px;
}

.text_lh18 {
  line-height: 18px;
}

.text_opacity100 {
  opacity: 1;
}

.text_opacity75 {
  opacity: 0.75;
}

.text_opacity50 {
  opacity: 0.5;
}

.text_opacity25 {
  opacity: 0.25;
}

.text_opacity5 {
  opacity: 0.5;
}

.page {
  margin: auto;
  padding: 0.1px;
}

.page__logo {
  float: left;
  margin: 2.08333%;
  margin-right: 0;
}

.page {
  background-color: #e5e5e5;
  max-width: 1440px;
  max-height: 900px;
  width: 100%;
  height: 100%;
}

.page__container {
  height: 100%;
  margin-top: 10.41667%;
  margin-bottom: 9.02778%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  row-gap: 4.44444%;
}

.container {
  display: -ms-grid;
  display: grid;
}

.button {
  border-radius: 22px;
  border: solid 3px;
  padding: 9px 20px 10px 20px;
}

.button_white {
  color: #bc9cff;
  background-color: white;
  border: #bc9cff solid;
}

.button_purple {
  color: white;
  background-color: #bc9cff;
  border: #bc9cff solid;
}

.header {
  height: 70px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 106px auto max-content;
      grid-template-columns: 106px auto -webkit-max-content;
      grid-template-columns: 106px auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-width: 80.55556%;
  margin-left: auto;
  margin-right: auto;
}

.header__menu {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-columns: (max-content)[6];
      grid-template-columns: repeat(6, -webkit-max-content);
      grid-template-columns: repeat(6, max-content);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.header__buttons {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header__last-link {
  position: relative;
  padding: 30px;
}

.header__last-link::before {
  position: absolute;
  content: "";
  height: 30px;
  left: 0;
  top: 28.571%;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
}

.footer {
  background-color: white;
  display: -ms-grid;
  display: grid;
  max-width: 80.55556%;
  margin-left: auto;
  margin-right: auto;
}

.footer_full {
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: 372px 70px;
      grid-template-rows: 372px 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 0;
}

.footer_min {
  height: 367px;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 20px;
}

.footer__menu {
  height: 168px;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: (max-content)[5];
      grid-template-rows: repeat(5, -webkit-max-content);
      grid-template-rows: repeat(5, max-content);
  -webkit-column-gap: 120px;
          column-gap: 120px;
  grid-auto-flow: column;
  row-gap: 20px;
}

.footer__form {
  height: 168px;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 20px;
}

.footer__copyright {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logoandtext {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
}

.footer__logoandtext_start {
  justify-items: start;
  -ms-grid-columns: 260px;
      grid-template-columns: 260px;
  height: 168px;
}

.footer__logoandtext_center {
  justify-items: center;
  -ms-grid-columns: 560px;
      grid-template-columns: 560px;
  text-align: center;
}

.menu {
  display: -ms-grid;
  display: grid;
}

.menu__elem {
  line-height: 17px;
}

.form__title {
  max-width: 220px;
}

.form__text {
  max-width: 220px;
}

.form__text-input {
  padding: 15px;
  width: 260px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form__text-submit {
  position: relative;
  max-width: 260px;
}

.form__submit {
  width: 40px;
  height: 40px;
  background-image: url("../../../src/img/arrow_forward.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  background-color: white;
  position: absolute;
  right: 2px;
  top: 2px;
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[3];
      grid-template-columns: repeat(3, -webkit-min-content);
      grid-template-columns: repeat(3, min-content);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
