@import "../../../library/templates/base";
@import "../../../library/nullstyle/nullstyle.scss";
@import "../../../src/fonts/fonts";
@import "../../../library/blocks/button/button";
@import "../../../library/blocks/header/header";
@import "../../../library/blocks/footer/footer";
@import "../../../library/blocks/menu/menu";
@import "../../../library/blocks/social/social";
@import "../../../library/blocks/subscribe/subscribe";
@import "../../../library/blocks/element/element";

body {
    background-color: #e5e5e5;
    min-height: 1350px;
    height: 100%;
}

.container {
    display: grid;
    margin-top: 150px/1350px * 100%;
    margin-bottom: 130px/1350px * 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, max-content);
    row-gap: 40px;
}
