@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Шрифты */
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Bold.woff") format("woff"), url("../../../src/fonts/Montserrat-Bold.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Bold.svg") format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Regular.woff") format("woff"), url("../../../src/fonts/Montserrat-Regular.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Bold.woff") format("woff"), url("../../../src/fonts/Quicksand-Bold.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Bold.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Regular.woff") format("woff"), url("../../../src/fonts/Quicksand-Regular.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Regular.svg") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Regular.svg") format("svg"), url("../../../src/fonts/opensans.woff") format("woff"), url("../../../src/fonts/opensans.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Bold.svg") format("svg"), url("../../../src/fonts/opensansbold.woff") format("woff"), url("../../../src/fonts/opensansbold.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../../src/fonts/MaterialIcons-Regular.woff2") format("svg"), url("../../../src/fonts/MaterialIcons-Regular.woff") format("woff"), url("../../../src/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

/* -------------- */
.page {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  position: relative;
  z-index: 0;
}

.page__logo {
  float: left;
  margin: 2.08333%;
  margin-right: 0;
}

.page {
  background-color: #e5e5e5;
  min-height: 1350px;
  height: 100%;
}

.page__container {
  display: -ms-grid;
  display: grid;
  margin-top: 11.11111%;
  margin-bottom: 9.62963%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  row-gap: 40px;
}

.button {
  font: 700 12px/15px "Montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 22px;
  width: 99px;
  min-width: 99px;
  height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_white {
  color: #bc9cff;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  padding: 2px;
}

.button_white:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button_purple {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.button_purple:hover {
  opacity: 0.5;
}

.button_text {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 66px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: #bc9cff;
  border: none;
  background: none;
  width: auto;
  height: auto;
}

.button_text-grey {
  color: rgba(31, 32, 65, 0.5);
}

.button_wide {
  width: 100%;
  min-width: 200px;
}

.button_arrowed {
  position: relative;
}

.button__arrow {
  position: absolute;
  right: 14px;
  bottom: 14px;
  color: inherit;
}

.button__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__wrapper {
  height: 70px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 106px auto max-content;
      grid-template-columns: 106px auto -webkit-max-content;
      grid-template-columns: 106px auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-width: 80.55556%;
  margin-left: auto;
  margin-right: auto;
}

.header__menu {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-columns: (max-content)[6];
      grid-template-columns: repeat(6, -webkit-max-content);
      grid-template-columns: repeat(6, max-content);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.header__buttons {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header__link {
  position: relative;
  padding-left: 30px;
  font: 400 14px/24px "Montserrat", sans-serif;
  line-height: 17px;
  opacity: 0.5;
}

.header__link::before {
  position: absolute;
  content: "";
  height: 30px;
  left: 0;
  top: -6.5px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
}

.footer {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.footer__wrapper {
  background-color: white;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer_full {
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: 372px 70px;
      grid-template-rows: 372px 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 0;
}

.footer_min {
  height: 367px;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 20px;
}

.footer__text {
  font: 400 14px/24px "Montserrat", sans-serif;
}

.footer__menu {
  height: 168px;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  -webkit-column-gap: 120px;
          column-gap: 120px;
  grid-auto-flow: column;
  row-gap: 20px;
}

.footer__form {
  height: 168px;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 20px;
}

.footer__copyright {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 14px/24px "Montserrat", sans-serif;
}

.footer__logoandtext {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
}

.footer__logoandtext_start {
  justify-items: start;
  -ms-grid-columns: 260px;
      grid-template-columns: 260px;
  height: 168px;
}

.footer__logoandtext_center {
  justify-items: center;
  -ms-grid-columns: 560px;
      grid-template-columns: 560px;
  text-align: center;
}

.menu {
  display: -ms-grid;
  display: grid;
}

.menu__f-submenu .menu__elem {
  margin-bottom: 20px;
}

.menu__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: #fff;
  border: solid 2px rgba(31, 32, 65, 0.5);
}

.menu__submenu .menu__elem {
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(31, 32, 65, 0.25);
}

.menu__elem {
  font: 400 14px/24px "Montserrat", sans-serif;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.menu__elem_current {
  font-weight: 700;
  color: rgba(31, 32, 65, 0.75);
}

.menu__elem_title {
  font: 700 12px/15px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1f2041;
}

.menu__elem_spoiler {
  padding-right: 20px;
  position: relative;
}

.menu__elem_spoiler:hover ul.menu__submenu {
  display: block;
}

.menu__elem_spoiler::after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "keyboard_arrow_down";
  position: absolute;
  color: rgba(31, 32, 65, 0.5);
  width: 22px;
  height: 22px;
  right: -2px;
  top: -3px;
}

.form__title {
  max-width: 220px;
  font: 700 12px/15px "Montserrat", sans-serif;
  text-transform: uppercase;
}

.form__text {
  max-width: 220px;
  font: 400 14px/24px "Montserrat", sans-serif;
}

.form__text-submit {
  position: relative;
  max-width: 260px;
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[3];
      grid-template-columns: repeat(3, -webkit-min-content);
      grid-template-columns: repeat(3, min-content);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input__textfield {
  padding: 15px;
  width: 260px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font: 400 14px/24px "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.25);
}

.input__submit {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 12px;
}
