extends /library/templates/base.pug
block title
	title "UI Kit: Headers&Footers"
block styles
	link(rel="stylesheet" href="headers-footers.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
block body
	+page()
		+header('1')
		+header('2')
		+footer('1')
		+footer('2')
	script(src="headers-footers.js")