extends ../../../library/templates/base.pug

block title
	title "UI Kit: Headers&Footers"
block styles
	link(rel="stylesheet" href="headers-footers.css")
block body
	.page
		img.logo.page__logo(src="../../../src/img/logo.svg")
		.container.page__container
			.header
				img.logo.header__logo(src="../../../src/img/logo and title.svg")
				.menu.header__menu
					.menu__elem Home
					.menu__elem About Us
					.menu__elem.menu__elem_spoiler Services
					.menu__elem Careers
					.menu__elem News
					.menu__elem Docimentation
				.button.header__button-login.button_login
				.button.header__button-reg.button_reg
			.header
				img.logo.header__logo(src="../../../src/img/logo and title.svg")
				.menu.header__menu
					a.menu__elem Home
					a.menu__elem About Us
					a.menu__elem.menu__elem_spoiler Services
					a.menu__elem Careers
					a.menu__elem News
					a.menu__elem Docimentation
				a.link.header__link
			.footer
				img.logo.footer__logo(src="../../../src/img/logo and title.svg")
				.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.menu.footer__menu
					.menu__title Navigation
					a.menu__elem About Us
					a.menu__elem News
					a.menu__elem Support
					a.menu__elem Products
					.menu__title About Us
					a.menu__elem Our team
					a.menu__elem Careers
					a.menu__elem Investors
					.menu__title Support
					a.menu__elem Docimentation
					a.menu__elem Community
					a.menu__elem Get in Touch
				.form.form_subscribe.footer__form
				.footer__copyright
				.footer__social
			.footer
				img.logo.footer__logo(src="../../../src/img/logo and title.svg")
				.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.form.form_subscribe.footer__form
				.footer__social