body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  body {
    background-image: none;
  }
}

.like {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  min-width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #fff;
  color: rgba(31, 32, 65, 0.25);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.like_liked {
  color: #bc9cff;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  border: solid 1px transparent;
}

.like_liked::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.like_liked .like__heart:after {
  content: "favorite";
}

.like__count {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font: 400 14px/24px "Montserrat", sans-serif;
  color: inherit;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
}

.like:hover, .like:focus {
  color: #bc9cff;
  border-color: #bc9cff;
}

.like:hover .like__heart:after, .like:focus .like__heart:after {
  content: "favorite";
}

.like__heart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 10px;
  line-height: 9px;
}

.like__heart::after {
  content: "favorite_outline";
}
