body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  body {
    background-image: none;
  }
}

body.lock {
  overflow: hidden;
}
