@import "../../../library/templates/base";

.iqdropdown .icon-decrement,
.iqdropdown .icon-increment {
    display: inline-block;
    height: 15px;
    margin: auto;
    min-width: 15px;
    position: relative;
    width: 15px;
}

.iqdropdown .icon-decrement::after,
.iqdropdown .icon-increment::after {
    @include material-icon();
    font-size: 15px;
    color: $grey50;
    content: "remove";
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
}

.iqdropdown .icon-increment::after {
    content: "add";
    top: 0;
}

.iqdropdown .iqdropdown-menu {
    background-color: #ffffff;
    border: 1px solid $grey50;
    border-radius: 0 0 4px 4px;
    cursor: default;
    display: none;
    left: 0;
    margin: -2px -1px -1px;
    position: absolute;
    right: 0;
    top: 44px;
    transition: all 0.2s ease-in-out;
    z-index: 99999;
}

.iqdropdown .iqdropdown-menu-option {
    align-items: center;
    display: flex;
    height: 37px;
    padding: 3.5px 7px 3.5px 15px;

    &:last-of-type {
        margin-bottom: 5px;
    }
}

.iqdropdown .iqdropdown-menu-option:last-child {
    border: 0;
}

.iqdropdown .iqdropdown-menu-close {
    color: $grey50;
    font: $body;
    height: 20px;
    margin: 20px 0;
    padding: 0 15px;
    text-align: right;
    width: 100%;
}

.iqdropdown.menu-open .iqdropdown-menu {
    display: block;
    box-shadow: 0px 10px 20px $grey05;
}

@media only screen and (max-width: 640px) {
    .iqdropdown .iqdropdown-menu.mobile-top-menu {
        top: -285px;
    }
}

.iqdropdown-content {
    flex: 1;
    padding-right: 10px;
}

.iqdropdown-item {
    font: $h3;
    text-transform: uppercase;
    color: $grey;
}

.iqdropdown p.iqdropdown-description {
    font: $h3;
    text-transform: uppercase;
    color: $grey;
    margin-top: 5px;
}

.iqdropdown .iqdropdown-item-controls {
    display: flex;
    height: 30px;
    margin-top: 2px;
}

.iqdropdown .iqdropdown-item-controls .counter {
    font: $h3;
    text-transform: uppercase;
    color: $grey;
    padding: 20px;
    width: 32px;
    padding-left: 12px;
    padding-top: 7px;
}

.iqdropdown .iqdropdown-item-controls button {
    align-items: center;
    background-color: #fff;
    border: 1px solid $grey25;
    display: flex;
    height: 30px;
    width: 30px;
    padding: 0 0;
    transition: all 0.2s ease-in-out;
}

.iqdropdown .iqdropdown-item-controls button:hover {
    background-color: #fff;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement {
    border-radius: 22px;
}

.iqdropdown .iqdropdown-item-controls button.button-increment {
    border-radius: 22px;
}

.iqdropdown {
    align-items: center;
    border: 1px solid $grey25;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    height: 44px;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
    width: 100%;
}

.iqdropdown .iqdropdown-selection {
    font: $body;
    color: $grey75;
    flex: 1;
}

.iqdropdown .iqdropdown-selection::after,
.iqdropdown.menu-open .iqdropdown-selection::after {
    @include material-icon;
}

.iqdropdown .iqdropdown-selection::after {
    content: "keyboard_arrow_down";
    display: inline-block;
    height: 5px;
    width: 12px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.iqdropdown.menu-open {
    border-color: $grey50;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    box-shadow: 0px 10px 20px $grey05;
}

.iqdropdown.menu-open .iqdropdown-selection::after {
    content: "keyboard_arrow_up";
}

.iqdropdown-control-buttons {
    display: flex;
    padding: 20px 7px 10px 13px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.iqdropdown-button-clear {
    background-color: #fff;
}

.iqdropdown-clear-content {
    text-transform: uppercase;
    font: $h3;
    color: $grey50;
}

.iqdropdown-button-apply {
    background-color: inherit;
}

.iqdropdown-apply-content {
    font: $h3;
    text-transform: uppercase;
    color: $purple;
}