@import "../../../library/templates/base";

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 10px 20px $grey05;
    display: flex;
    justify-content: space-around;

    &__burger {
        display: none;
    }

    &__wrapper {
        height: 70px;
        width: 100%;
        display: grid;
        justify-self: center;
        grid-template-columns: 106px auto minmax(min-content, max-content);
        align-items: center;
        column-gap: 20px;
        padding-left: 140px/$width*100%;
        padding-right: 140px/$width*100%;

        @media (max-width:767px) {
            max-width: 100%;
            padding: 0.1px;
            column-gap: 0;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
        }
    }

    &__menu {
        display: grid;
        justify-self: end;
        grid-template-columns: repeat(5, max-content);
        column-gap: 20px;
        justify-items: end;
    }

    &__login {
        position: relative;

        &::after {
            position: absolute;
            @include material-icon;
            content: "";
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-image: $gradient;
            top: -20px;
            left: 0;
            opacity: 1;
            font-size: 40px;
        }

        @media (max-width: 1118px) {
            &::after {
                content: 'logout';
            }

            & .header__buttons {
                display: none;
            }

            &:hover .header__buttons,
            &:active .header__buttons {
                display: grid;
                grid-template-columns: auto;
                justify-items: center;
                row-gap: 5px;
                position: absolute;
                top: 30px;
                right: -80px;
                justify-content: center;
                background-color: $grey10;
                padding: 10px;
                border-radius: 4px;

                & .button {
                    width: 100%;
                }
            }

        }

        @media (max-width: 767px) {
            grid-column-start: 3;

            &:hover .header__buttons,
            &:active .header__buttons {
                width: 110vw;
                top: 0;
                right: -50%;
                justify-items: center;
                row-gap: 5px;
                position: absolute;
                justify-content: center;
                background-color: $grey10;
                padding: 10px;
                border-radius: 4px;

                & .button {
                    width: 100%;
                }
            }

            &::after {
                font-size: 30px;
                top: -37px;
            }
        }
    }

    &__buttons {
        justify-self: end;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 20px;

    }

    &__link {
        display: flex;
        align-items: center;
        padding-left: 20px;
        font: $body;
        line-height: 17px;
        color: $grey50;
        height: 30px;
        border-left: 1px solid $grey10;
    }
}

@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }

    .header__wrapper {
        height: 50px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        grid-column-start: 3;
        grid-row-start: 1;
        margin-left: 40px;
    }

    .header__burger span {
        position: absolute;
        background: $gradient;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 11px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background: $gradient;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 2px;
    }

    .header__burger:after {
        bottom: -2px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: absolute;
        top: 0;
        display: none;
        right: 0;
        width: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: $grey10;
        padding: 70px 20px 20px 10px;
        justify-content: end;
        grid-template-columns: 100%;
        column-gap: 0;
        row-gap: 20px;

        & .menu__elem {
            font-size: 20px;
        }
    }

    .header__menu.active {
        display: grid;
    }

    .header__link {
        font-size: 20px;
        grid-column-start: 2;
        grid-row-start: 1;
        border: none;
    }
}