.header {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__wrapper {
  height: 70px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 106px auto max-content;
      grid-template-columns: 106px auto -webkit-max-content;
      grid-template-columns: 106px auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-width: 80.55556%;
  margin-left: auto;
  margin-right: auto;
}

.header__menu {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-columns: (max-content)[6];
      grid-template-columns: repeat(6, -webkit-max-content);
      grid-template-columns: repeat(6, max-content);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.header__buttons {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header__last-link {
  position: relative;
  padding-left: 30px;
}

.header__last-link::before {
  position: absolute;
  content: "";
  height: 30px;
  left: 0;
  top: -6.5px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
}
