.header {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__wrapper {
  height: 70px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 106px auto max-content;
      grid-template-columns: 106px auto -webkit-max-content;
      grid-template-columns: 106px auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  max-width: 80.55556%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .header__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    margin-left: 20px;
  }
}

.header__menu {
  -ms-grid-column-align: end;
      justify-self: end;
  justify-items: end;
}

.header__login {
  position: relative;
}

.header__login::after {
  position: absolute;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "";
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  top: -18px;
  left: 0;
  opacity: 1;
  font-size: 40px;
}

@media (max-width: 1118px) {
  .header__login::after {
    content: 'logout';
  }
  .header__login .header__buttons {
    display: none;
  }
  .header__login:hover .header__buttons,
  .header__login:active .header__buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    justify-items: center;
    row-gap: 5px;
    position: absolute;
    top: 30px;
    right: -80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(31, 32, 65, 0.1);
    padding: 10px;
    border-radius: 4px;
  }
  .header__login:hover .header__buttons .button,
  .header__login:active .header__buttons .button {
    width: 100%;
  }
}

.header__buttons {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  font: 400 14px/24px "Montserrat", sans-serif;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  height: 30px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
}
