@import "../../../library/templates/base";
@import "../../../library/nullstyle/nullstyle.scss";
@import "../../../library/blocks/header/header";
@import "../../../library/blocks/card/card";
@import "../../../library/blocks/footer/footer";

body {
    background: none;
}

.mainScreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 140px/$width*100%;
    padding-right: 140px/$width*100%;
    padding-top: 70px;
    padding-bottom: 20px;
    background: url('../../../src/img/image\ 3.jpg') no-repeat center;
    background-size: cover;

    & .card {
        align-self: flex-start;
    }

    &>p {
        align-self: flex-end;
        max-width: 280px;
        text-align: end;
        font: $body;
        color: $grey75;
    }
}