extends ../../../library/templates/base.pug
include mixins/color-sample.pug
include mixins/type-sample.pug

block title
	title "UI Kit: Colors&Types"
block styles
	link(rel="stylesheet" href="colors-types.css")
block body
	.page
		img.logo.page__logo(src="../../../src/img/logo.svg")
		.container.page__container
			.container__column-1
				+color-sample('1f2041','Dark Shade 100%')
				+color-sample('1f2041','Dark Shade 75%')
				+color-sample('1f2041','Dark Shade 50%')
				+color-sample('1f2041','Dark Shade 25%')
				+color-sample('1f2041','Dark Shade 5%')
				+color-sample('BC9CFF','Purple')
				+color-sample('6fcf97','Green')
			.container__column-2
				+type-sample('H1','This one is the sub-section or widget title')
				+type-sample('H2','Next one is the item title inside widgets')
				+type-sample('H3','This is a text or CTA text')
				+type-sample('Body','This is the body text which is used for most of the design, like paragraphs, lists etc.')

