@charset "UTF-8";
body {
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  margin: 0 auto;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  .container {
    background-image: none;
  }
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Шрифты */
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Bold.woff") format("woff"), url("../../../src/fonts/Montserrat-Bold.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Bold.svg") format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Regular.woff") format("woff"), url("../../../src/fonts/Montserrat-Regular.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Bold.woff") format("woff"), url("../../../src/fonts/Quicksand-Bold.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Bold.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Regular.woff") format("woff"), url("../../../src/fonts/Quicksand-Regular.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Regular.svg") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Regular.svg") format("svg"), url("../../../src/fonts/opensans.woff") format("woff"), url("../../../src/fonts/opensans.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Bold.svg") format("svg"), url("../../../src/fonts/opensansbold.woff") format("woff"), url("../../../src/fonts/opensansbold.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../../src/fonts/MaterialIcons-Regular.svg") format("svg"), url("../../../src/fonts/MaterialIcons-Regular.woff") format("woff"), url("../../../src/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

/* -------------- */
.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "column-1 column-2";
  padding-top: 10.069%;
  padding-left: 10.398%;
  padding-right: 13.263%;
  padding-bottom: 10.069%;
  -ms-grid-columns: 270fr 403fr;
      grid-template-columns: 270fr 403fr;
  -webkit-column-gap: 29.65%;
          column-gap: 29.65%;
}

@media (max-width: 768px) {
  .container {
        grid-template-areas: "column-1" "column-2";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 80px;
    margin-right: 10.398vw;
  }
}

.column-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: column-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (max-content)[auto-fill];
      grid-template-rows: repeat(auto-fill, -webkit-max-content);
      grid-template-rows: repeat(auto-fill, max-content);
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: column-2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(min-content, max-content))[4];
      grid-template-rows: repeat(4, minmax(-webkit-min-content, -webkit-max-content));
      grid-template-rows: repeat(4, minmax(min-content, max-content));
  row-gap: 50px;
}

.color-sample {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "color text" "color code";
  -ms-grid-columns: 70px minmax(min-content, 165px);
      grid-template-columns: 70px minmax(-webkit-min-content, 165px);
      grid-template-columns: 70px minmax(min-content, 165px);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  font: 700 19px/24px "Quicksand", sans-serif;
  line-height: 29px;
}

.color-sample:nth-child(2) .color-sample__color {
  background-color: rgba(31, 32, 65, 0.75);
}

.color-sample:nth-child(3) .color-sample__color {
  background-color: rgba(31, 32, 65, 0.5);
}

.color-sample:nth-child(4) .color-sample__color {
  background-color: rgba(31, 32, 65, 0.25);
}

.color-sample:nth-child(5) .color-sample__color {
  background-color: rgba(31, 32, 65, 0.05);
}

.color-sample:nth-child(6) .color-sample__color {
  background-color: #bc9cff;
}

.color-sample:nth-child(7) .color-sample__color {
  background-color: #6fcf97;
}

.color-sample__color {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background-color: #1f2041;
}

.color-sample__text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.color-sample__code {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: code;
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.type-sample {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37px minmax(min-content, max-content);
      grid-template-columns: 37px minmax(-webkit-min-content, -webkit-max-content);
      grid-template-columns: 37px minmax(min-content, max-content);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.type-sample_H1 {
  font: 700 24px/30px "Quicksand", sans-serif;
}

.type-sample_H2 {
  font: 700 19px/24px "Quicksand", sans-serif;
}

.type-sample_H3 {
  font: 700 12px/15px "Montserrat", "Open sans", sans-serif;
  text-transform: uppercase;
}

.type-sample_Body {
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
}

.type-sample__title {
  font-family: Montserrat;
  margin: 0 0 auto auto;
  opacity: 0.25;
  font-weight: 400;
}
