$width: 1440px;
$grey: rgba(31, 32, 65, 1);
$grey75: rgba(31, 32, 65, 0.75);
$grey50: rgba(31, 32, 65, 0.5);
$grey25: rgba(31, 32, 65, 0.25);
$grey10: rgba(31, 32, 65, 0.1);
$grey05: rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$gradient: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
$gradient50: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
$gradient25: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
$gradient75: linear-gradient(180deg, rgba(188, 156, 255, 0.75) 0%, rgba(139, 164, 249, 0.75) 100%);
$gradient-green: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$h1: 700 24px/30px "Quicksand", sans-serif;
$h2: 700 19px/24px "Quicksand", sans-serif;
$h3: 700 12px/15px "Montserrat", sans-serif;
$body: 400 14px/24px "Montserrat", sans-serif;
