body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  body {
    background-image: none;
  }
}

body.lock {
  overflow: hidden;
}

.switch {
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 4px;
}

.switch__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #fff;
  -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: border-color 0.3s, box-shadow 0.2s;
  transition: border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  width: 40px;
  min-width: 40px;
  border-radius: 10px;
}

.switch__input:after, .switch__input::before {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
}

.switch__input:after {
  left: 3px;
  top: 3px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: rgba(31, 32, 65, 0.25);
}

.switch__input:checked {
  border: 1px solid #bc9cff;
}

.switch__input:checked:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.switch__input:disabled {
  background: rgba(31, 32, 65, 0.1);
  cursor: not-allowed;
  opacity: 0.9;
}

.switch__input:disabled:not(:checked):after {
  opacity: 0.6;
}

.switch__input:disabled:checked {
  background: rgba(31, 32, 65, 0.1);
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.switch__input:disabled + label {
  cursor: not-allowed;
}

.switch__input + label {
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
  cursor: pointer;
  margin-left: 10px;
  max-width: 210px;
  color: rgba(31, 32, 65, 0.75);
}
