@import "../../../library/templates/base";
.page {
	max-width: $width;
	width: 100%;
	margin: auto;
	padding: 0.1px;
	background-color: white;
	font: $body;
	color: $grey75;
	position: relative;
	z-index: 0;

	&__logo {
		float: left;
		margin: 30px / $width * 100%;
		margin-right: 0;
	}
}
