.page {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  position: relative;
  z-index: 0;
}

.page__logo {
  float: left;
  margin: 2.08333%;
  margin-right: 0;
}
