@import "../../../library/templates/base";

.page {
    max-width: $width;
    width: 100%;
    margin: auto;
    padding: 0.1px;
    background-color: white;
    font: $body;
    color: $grey75;
    background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");

    @media (max-width: 767px) {
        background-image: none;
    }
}
