@import "../../../library/templates/base";

.rate {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    float: left;

    &__input {
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 0;
    }

    &__label {
        &:before {
            content: "star_border";
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-image: $gradient;

            font-size: 24px;
            line-height: 20px;
            height: 24px;
            width: 24px;
            cursor: pointer;
        }
    }

    &__input:checked~&__label::before,
    &__input:hover~&__label::before {
        content: "star";
    }
}