extends ../../../library/templates/base.pug
block title
	title "UI Kit: Form elements"
block styles
	link(rel="stylesheet" href="form-elements.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")

block body
	.page
		img.page__logo(src="../../../src/img/logo.svg")
		.page__container
			.grid-block
				.input.input_mar20
					span.input__title text field
					label.input__label.input__label_end Default
					input.input__textfield(type="text" placeholder="Email")
				.input.input_mar20
					span.input__title text field
					label.input__label.input__label_end Hover/Focus
					input.input__textfield.input_focus(type="text" placeholder="This is a pretty awesome")
				.input.input_mar20
					span.input__title dropdown
					label.input__label.input__label_end Default
					select.input__dropdown(placeholder="Сколько гостей")
						option.input__option(value="" disabled selected) Сколько гостей
				.input
					span.input__title Masked text field
					label.input__label.input__label_end Default
					input.input__textfield(type="text" placeholder="ДД.ММ.ГГГГ")
				div
					.input.input_inline
						span.input__title date dropdown
						input.input__date(type="date")

					.input.input_inline
						span.input__title date dropdown
						input.input__date(type="date" value="2019-08-19")
				.input
					span.input__title filter date dropdown
					input.input__date.input__date_filter(type="date" value="2019-08-19")
				.input
					span.input__title subscription text field
					input(type='email' placeholder='Email').input__textfield
					input(type='image' src='../../../src/img/arrow_forward.svg').input__submit
			.grid-block
				.input
					span.input__title.input__title_m-b-16 checkbox buttons
					ul
						li.input_line
							input.input__checkbox(id ="c1" type="checkbox")
							label.input__value(for="c1") Можно курить
						li.input_line
							input.input__checkbox(id="c2" type="checkbox" checked)
							label.input__value(for="c2") Можно с питомцами
						li.input_line
							input.input__checkbox(id="c3" type="checkbox" checked)
							label.input__value(for="c3") Можно пригласить гостей (до 10 человек)
				.input
					span.input__title.input__title_m-b-16 radio buttons
					div
						.input_inline
							input.input__radio(name="gender" id="r1" type="radio" checked)
							label.input__value(for="r1") Мужчина
						.input_inline
							input.input__radio(name="gender" id="r2" type="radio")
							label.input__value(for="r2") Женщина
				.input
					span.input__title.input__title_m-b-16 toggle
					ul
						li.input_line
							input.input__switch(id="sw1" type="checkbox" checked)
							label.input__value(for="sw1") Получать спецпредложения
						li.input_line
							input.input__switch(id="sw2" type="checkbox" checked)
							label.input__value(for="sw2") Получать спецпредложения
				.input
					span.input__title.input__title_m-b-16 like button
					br
					.input__like.input_inline
						input.input__like-input(id="like-1" type="checkbox")
						label.material-icons.input__like-label(for="like-1")
							span.input__like-count 2
					.input__like.input_inline
						input.input__like-input(id="like-2" type="checkbox" checked)
						label.material-icons.input__like-label(for="like-2")
							span.input__like-count 12
				.input
					span.input__title.input__title_m-b-16 rate button
					br
					.input__stars.input_inline
						input.input__star-input(id="star-5-1" type="radio" name="reviewStars-1")
						label.material-icons.input__star-label(for="star-5-1")
						input.input__star-input(id="star-4-1" type="radio" name="reviewStars-1" checked)
						label.material-icons.input__star-label(for="star-4-1")
						input.input__star-input(id="star-3-1" type="radio" name="reviewStars-1")
						label.material-icons.input__star-label(for="star-3-1")
						input.input__star-input(id="star-2-1" type="radio" name="reviewStars-1")
						label.material-icons.input__star-label(for="star-2-1")
						input.input__star-input(id="star-1-1" type="radio" name="reviewStars-1")
						label.material-icons.input__star-label(for="star-1-1")
					.input__stars.input_inline
						input.input__star-input(id="star-5" type="radio" name="reviewStars-2" checked)
						label.material-icons.input__star-label(for="star-5")
						input.input__star-input(id="star-4" type="radio" name="reviewStars-2")
						label.material-icons.input__star-label(for="star-4")
						input.input__star-input(id="star-3" type="radio" name="reviewStars-2")
						label.material-icons.input__star-label(for="star-3")
						input.input__star-input(id="star-2" type="radio" name="reviewStars-2")
						label.material-icons.input__star-label(for="star-2")
						input.input__star-input(id="star-1" type="radio" name="reviewStars-2")
						label.material-icons.input__star-label(for="star-1")
			.grid-block
				.input.input__range
					span.input__title range slider
					label.input__label.input__label_end 5000Р-10 000р
					input(type="text" name="my_range" value="").js-range-slider
				.input
					span.input__title buttons
					br
					button.button.button_purple.button_demo Click Me
					button.button.button_purple.button_locked.button_demo Click Me
					button.button.button_white.button_demo Click Me
					button.button.button_white.button_locked.button_demo Click Me
					br
					button.button.button_text.button_demo Click Me
					button.button.button_text.button_text_gray.button_demo Click Me
					button.button.button_purple.button_wide.button_arrowed.button_demo Перейти к оплате
						span.material-icons.arrow arrow_forward
				.input
					span.input__title Pagination
					.pagination
						a.pagination__elem.pagination__elem_current 1
						a.pagination__elem 2
						a.pagination__elem 3
						a.pagination__elem ...
						a.pagination__elem 15
						a.pagination__elem.material-icons.pagination__arrow arrow_forward
						span.pagination__text 1 – 12 из 100+ вариантов аренды
			.grid-block
				.input
					span.input__title dropdown
					span.input__label.input__label_end Default
					.iqdropdown.beds
						p.iqdropdown-selection
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="bedrooms" data-defaultcount="2")
								div
									p.iqdropdown-item Спальни
							.iqdropdown-menu-option(data-id="beds" data-defaultcount="2")
								div
									p.iqdropdown-item Кровати
							.iqdropdown-menu-option(data-id="bathrooms")
								div
									p.iqdropdown-item Ванные комнаты
				.input
					span.input__title dropdown
					span.input__label.input__label_end Expanded
					.iqdropdown.beds.menu-open
						p.iqdropdown-selection
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="bedrooms" data-defaultcount="2")
								div
									p.iqdropdown-item Спальни
							.iqdropdown-menu-option(data-id="beds" data-defaultcount="2")
								div
									p.iqdropdown-item Кровати
							.iqdropdown-menu-option(data-id="bathrooms")
								div
									p.iqdropdown-item Ванные комнаты
				.input
					details.details.marginTop150
						summary.input__title expandable checkbox list
						ul
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Завтрак
							li.details__checkbox
								input.input__checkbox(type="checkbox" checked)
								label.input__label Письменный стол
							li.details__checkbox
								input.input__checkbox(type="checkbox" checked)
								label.input__label Стул для кормления
							li.details__checkbox
								input.input__checkbox(type="checkbox" checked)
								label.input__label Кроватка
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Телевизор
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Шампунь
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Телевизор
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Шампунь
				.input
					details(open).details
						summary.input__title expandable checkbox list
						ul
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Завтрак
							li.details__checkbox
								input.input__checkbox(type="checkbox" checked)
								label.input__label Письменный стол
							li.details__checkbox
								input.input__checkbox(type="checkbox" checked)
								label.input__label Стул для кормления
							li.details__checkbox
								input.input__checkbox(type="checkbox" checked)
								label.input__label Кроватка
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Телевизор
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Шампунь
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Телевизор
							li.details__checkbox
								input.input__checkbox(type="checkbox")
								label.input__label Шампунь
				.feature.feature_smile
					span.feature__title Комфорт
					span.feature__text Шумопоглощающие стены
				.feature.feature_apartment
					span.feature__title Удобство
					span.feature__text Окно в каждой из спален
			.grid-block
				.input
					span.input__title dropdown
					.iqdropdown.people.1button
						p.iqdropdown-selection
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="adults")
								div
									p.iqdropdown-item Взрослые
							.iqdropdown-menu-option(data-id="childs")
								div
									p.iqdropdown-item Дети
							.iqdropdown-menu-option(data-id="babies")
								div
									p.iqdropdown-item Младенцы
				.input
					span.input__title rich checkbox buttons
					.richCheckbox
						input.input__checkbox(type="checkbox")
						label.input__label.input__label_rich Широкий коридор
							br
							span.input__label.input__label_small Ширина коридоров в номере не менее 91см.
					.richCheckbox
						input.input__checkbox(type="checkbox")
						label.input__label.input__label_rich Помощник для инвалидов
							br
							span.input__label.input__label_small На 1 этаже вас встретит специалист и проводит до номера.
				.review
					.review__foto
					.review__title
						span.review__person Мурад Сарафанов
						span.review__date 5 дней назад
					.input__like.review__like
						input.input__like-input(id="like-3" type="checkbox" checked)
						label.material-icons.input__like-label(for="like-3")
							span.input__like-count 12
					p.review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
			.grid-block
				.input
					span.input__title dropdown
					.iqdropdown.people.2buttons
						p.iqdropdown-selection
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="adults")
								div
									p.iqdropdown-item Взрослые
							.iqdropdown-menu-option(data-id="childs")
								div
									p.iqdropdown-item Дети
							.iqdropdown-menu-option(data-id="babies")
								div
									p.iqdropdown-item Младенцы
				.input
					span.input__title Bullet list
					ul.list
						li.list__elem Нельзя с питомцами
						li.list__elem Без вечеринок и меропритий
						li.list__elem Врем яприбытия - после 13:00, а выезд до 12:00
		script(src="../../../library/plugins/ionRangeSlider/js/ion.rangeSlider.min.js")
		script(src="../../../library/plugins/item-quantity-dropdown/js/item-quantity-dropdown.min.js")
		script(src="form-elements.js")