extends ../../../library/templates/base.pug
block title
	title "UI Kit: Form elements"
block styles
	link(rel="stylesheet" href="form-elements.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")

block body
	.page
		img.page__logo(src="../../../src/img/logo.svg")
		.page__container
			.page__block
				.element
					.element__head
						span.element__title text field
						span.element__subtitle Default
					.element__body
						input.textfield(type="email" placeholder="Email")
				.element
					.element__head
						span.element__title text field
						span.element__subtitle Hover / Focus
					.element__body
						input.textfield.textfield_focus(type="text" value="This is a pretty awesome" placeholder="Text")
				.element
					.element__head
						span.element__title dropdown
						span.element__subtitle Default
					.element__body
						.iqdropdown.people.no-buttons.textfield
							p.iqdropdown-selection
							.iqdropdown-menu
								.iqdropdown-menu-option(data-id="adults")
									div
										p.iqdropdown-item Взрослые
								.iqdropdown-menu-option(data-id="childs")
									div
										p.iqdropdown-item Дети
								.iqdropdown-menu-option(data-id="babies")
									div
										p.iqdropdown-item Младенцы
				.element
					.element__head
						span.element__title Masked text field
						span.element__subtitle Default
					.element__body
						input.textfield.textfield_masked(type="text" data-inputmask="'alias': 'datetime'" data-inputmask-inputFormat="dd/mm/yyyy" data-inputmask-clearmaskonlostfocus="false" data-inputmask-placeholder="ДД.ММ.ГГГГ")
				.line
					.element.element_inline
						.element__head
							span.element__title date dropdown
						.element__body
							.date.textfield
								input.date__input.datepicker-here(type="text" id="date-1" data-date-format="dd/mm/yyyy" data-clear-button="true" data-apply-button="true"  placeholder="ДД.ММ.ГГГГ")
								button.date__arrow
					.element.element_inline
						.element__head
							span.element__title date dropdown
						.element__body
							.date.textfield
								input.date__input.datepicker-here(type="text" id="date-2" data-date-format="dd/mm/yyyy" data-clear-button="true" data-apply-button="true"  placeholder="ДД.ММ.ГГГГ")
								button.date__arrow
				.element.element_short
					.element__head
						span.element__title filter date dropdown
					.element__body
						.date.textfield
							input.date__input.datepicker-here(type="text" id="date-3" data-date-format="dd M" data-range="true" data-clear-button="true" data-apply-button="true"   data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ")
							button.date__arrow
				.element.element_short
					.element__head
						span.element__title subscription text field
					.element__body
						.subscribe
							input(type='email' placeholder='Email').textfield.subscribe__input
							span.material-icons.arrow.subscribe__arrow arrow_forward
			.page__block
				.element
					.element__head
						span.element__title checkbox buttons
					ul.element__body
						li.checkbox
							input.checkbox__input(id ="c1" type="checkbox")
							label(for="c1").checkbox__label Можно курить
						li.checkbox
							input.checkbox__input(id="c2" type="checkbox" checked)
							label(for="c2").checkbox__label Можно с питомцами
						li.checkbox
							input.checkbox__input(id="c3" type="checkbox" checked)
							label(for="c3").checkbox__label Можно пригласить гостей (до 10 человек)
				.element
					.element__head
						span.element__title radio buttons
					.element__body
						.radio
							input.radio__input(name="gender" id="r1" type="radio" checked)
							label(for="r1").radio__label Мужчина
						.radio
							input.radio__input(name="gender" id="r2" type="radio")
							label(for="r2").radio__label Женщина
				.element
					.element__head
						span.element__title toggle
					ul.element__body
						li.switch
							input.switch__input(id="sw1" type="checkbox" checked)
							label(for="sw1").switch__label Получать спецпредложения
						li.switch
							input.switch__input(id="sw2" type="checkbox")
							label(for="sw2").switch__label Получать спецпредложения
				.element
					.element__head
						span.element__title like button
					.element__body
						button.like(id="like-1")
							span.material-icons.like__heart
							span.like__count 2
						button.like(id="like-2").like_liked
							span.material-icons.like__heart
							span.like__count 12
				.element
					.element__head
						span.element__title rate button
					.element__body
						.rate
							input.rate__input(id="star-5-1" type="radio" name="reviewStars-1")
							label.material-icons.rate__label(for="star-5-1")
							input.rate__input(id="star-4-1" type="radio" name="reviewStars-1" checked)
							label.material-icons.rate__label(for="star-4-1")
							input.rate__input(id="star-3-1" type="radio" name="reviewStars-1")
							label.material-icons.rate__label(for="star-3-1")
							input.rate__input(id="star-2-1" type="radio" name="reviewStars-1")
							label.material-icons.rate__label(for="star-2-1")
							input.rate__input(id="star-1-1" type="radio" name="reviewStars-1")
							label.material-icons.rate__label(for="star-1-1")
						.rate
							input.rate__input(id="star-5" type="radio" name="reviewStars-2" checked)
							label.material-icons.rate__label(for="star-5")
							input.rate__input(id="star-4" type="radio" name="reviewStars-2")
							label.material-icons.rate__label(for="star-4")
							input.rate__input(id="star-3" type="radio" name="reviewStars-2")
							label.material-icons.rate__label(for="star-3")
							input.rate__input(id="star-2" type="radio" name="reviewStars-2")
							label.material-icons.rate__label(for="star-2")
							input.rate__input(id="star-1" type="radio" name="reviewStars-2")
							label.material-icons.rate__label(for="star-1")
			.page__block
				.element
					.element__head
						span.element__title range slider
						span.element__subtitle.range__value 5 000Р-10 000р
					.element__body
						input(type="text" name="my_range" value="").js-range-slider.range
				.element
					.element__head
						span.element__title buttons
					.element__body
						button.button.button_purple.button_demo Click Me
						button.button.button_purple.button_disabled.button_demo Click Me
						button.button.button_white.button_demo Click Me
						button.button.button_white.button_disabled.button_demo Click Me
						br
						button.button.button_text.button_demo Click Me
						button.button.button_text.button_text_gray.button_demo Click Me
						button.button.button_purple.button_wide.button_arrowed.button_demo Перейти к оплате
							span.material-icons.arrow.button__arrow arrow_forward
				.element
					.element__head
						span.element__title Pagination
					.pagination
						a.pagination__elem.pagination__elem_current 1
						a.pagination__elem 2
						a.pagination__elem 3
						a.pagination__elem ...
						a.pagination__elem 15
						a.pagination__elem.material-icons.arrow.pagination__arrow arrow_forward
						span.pagination__text 1 – 12 из 100+ вариантов аренды
			.page__block
				.element
					.element__head
						span.element__title dropdown
						span.element__subtitle Default
					.element__body
						.iqdropdown.beds.textfield
							p.iqdropdown-selection
							.iqdropdown-menu
								.iqdropdown-menu-option(data-id="bedrooms" data-defaultcount="2")
									div
										p.iqdropdown-item Спальни
								.iqdropdown-menu-option(data-id="beds" data-defaultcount="2")
									div
										p.iqdropdown-item Кровати
								.iqdropdown-menu-option(data-id="bathrooms")
									div
										p.iqdropdown-item Ванные комнаты
				.element
					.element__head
						span.element__title dropdown
						span.element__subtitle Expanded
					.element__body
						.iqdropdown.beds.menu-open.textfield
							p.iqdropdown-selection
							.iqdropdown-menu
								.iqdropdown-menu-option(data-id="bedrooms" data-defaultcount="2")
									div
										p.iqdropdown-item Спальни
								.iqdropdown-menu-option(data-id="beds" data-defaultcount="2")
									div
										p.iqdropdown-item Кровати
								.iqdropdown-menu-option(data-id="bathrooms")
									div
										p.iqdropdown-item Ванные комнаты
				.element
					details.details.marginTop150
						summary.element__title expandable checkbox list
						ul
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Завтрак
							li.details__checkbox
								input.checkbox(type="checkbox" checked)
								label.details__label Письменный стол
							li.details__checkbox
								input.checkbox(type="checkbox" checked)
								label.details__label Стул для кормления
							li.details__checkbox
								input.checkbox(type="checkbox" checked)
								label.details__label Кроватка
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Телевизор
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Шампунь
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Телевизор
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Шампунь
				.element
					details(open).details
						summary.element__title expandable checkbox list
						ul
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Завтрак
							li.details__checkbox
								input.checkbox(type="checkbox" checked)
								label.details__label Письменный стол
							li.details__checkbox
								input.checkbox(type="checkbox" checked)
								label.details__label Стул для кормления
							li.details__checkbox
								input.checkbox(type="checkbox" checked)
								label.details__label Кроватка
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Телевизор
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Шампунь
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Телевизор
							li.details__checkbox
								input.checkbox(type="checkbox")
								label.details__label Шампунь
				.feature.feature_smile
					span.feature__title Комфорт
					span.feature__text Шумопоглощающие стены
				.feature.feature_apartment
					span.feature__title Удобство
					span.feature__text Окно в каждой из спален
			.page__block
				.element
					.element__head
						span.element__title dropdown
					.element__body
						.iqdropdown.people.1button.textfield
							p.iqdropdown-selection
							.iqdropdown-menu
								.iqdropdown-menu-option(data-id="adults")
									div
										p.iqdropdown-item Взрослые
								.iqdropdown-menu-option(data-id="childs")
									div
										p.iqdropdown-item Дети
								.iqdropdown-menu-option(data-id="babies")
									div
										p.iqdropdown-item Младенцы
				.element
					.element__head
						span.element__title rich checkbox buttons
					.element__body
						.richCheckbox
							input.checkbox(type="checkbox")
							label.richCheckbox__label Широкий коридор<br>Ширина коридоров в номере не менее 91см.
						.richCheckbox
							input.checkbox(type="checkbox")
							label.richCheckbox__label Помощник для инвалидов<br>На 1 этаже вас встретит специалист и проводит до номера.
				.review
					.review__foto
					.review__title
						span.review__person Мурад Сарафанов
						span.review__date 5 дней назад
					button.like.like_liked.review__like(id="like-1")
						span.material-icons.like__heart
						span.like__count 12
					p.review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
			.page__block
				.element
					.element__head
						span.element__title dropdown
					.element__body
						.iqdropdown.people.2buttons.textfield
							p.iqdropdown-selection
							.iqdropdown-menu
								.iqdropdown-menu-option(data-id="adults")
									div
										p.iqdropdown-item Взрослые
								.iqdropdown-menu-option(data-id="childs")
									div
										p.iqdropdown-item Дети
								.iqdropdown-menu-option(data-id="babies")
									div
										p.iqdropdown-item Младенцы
				.element
					.element__head
						span.element__title Bullet list
					ul.list
						li.list__elem Нельзя с питомцами
						li.list__elem Без вечеринок и меропритий
						li.list__elem Время прибытия - после 13:00, а выезд до 12:00
		script(src="../../../library/plugins/ionRangeSlider/js/ion.rangeSlider.min.js")
		script(src="../../../library/plugins/item-quantity-dropdown/js/item-quantity-dropdown.min.js")
		script(src="../../../library/plugins/inputmask/jquery.inputmask.js")
		script(src="../../../library/plugins/air-datepicker/js/datepicker.js")
		script(src="form-elements.js")