@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Шрифты */
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Bold.woff") format("woff"), url("../../../src/fonts/Montserrat-Bold.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Bold.svg") format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Regular.woff") format("woff"), url("../../../src/fonts/Montserrat-Regular.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Bold.woff") format("woff"), url("../../../src/fonts/Quicksand-Bold.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Bold.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Regular.woff") format("woff"), url("../../../src/fonts/Quicksand-Regular.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Regular.svg") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Regular.svg") format("svg"), url("../../../src/fonts/opensans.woff") format("woff"), url("../../../src/fonts/opensans.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Bold.svg") format("svg"), url("../../../src/fonts/opensansbold.woff") format("woff"), url("../../../src/fonts/opensansbold.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../../src/fonts/MaterialIcons-Regular.woff2") format("svg"), url("../../../src/fonts/MaterialIcons-Regular.woff") format("woff"), url("../../../src/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

/* -------------- */
.page {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  color: #1f2041;
}

.page__logo {
  float: left;
  margin: 2.08333%;
  margin-right: 0;
}

.button {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 22px;
  border: 2px solid;
  padding: 7px 18px 8px 17px;
}

.button_white {
  color: #bc9cff;
  background-color: white;
  border-color: #bc9cff;
}

.button_purple {
  color: white;
  background-color: #bc9cff;
  border-color: #bc9cff;
}

.form__title {
  max-width: 220px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.form__text {
  max-width: 220px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.form__text-submit {
  position: relative;
  max-width: 260px;
}

.page {
  min-height: 1853px;
  height: 100%;
}

.page__container {
  display: -ms-grid;
  display: grid;
  margin: 10.37037%;
  margin-bottom: 9.62963%;
  -ms-grid-columns: 320px 260px 320px;
      grid-template-columns: 320px 260px 320px;
  -webkit-column-gap: 130px;
          column-gap: 130px;
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  row-gap: 100px;
}

.grid-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.input {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.input_inline {
  display: inline-block;
  max-width: 150px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.input_inline:first-of-type {
  margin-right: 20px;
}

.input_line {
  margin-top: 10px;
}

.input_mar20 {
  margin-bottom: 20px;
}

.input__title {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
}

.input__title_m-b16 {
  margin-bottom: 16px;
}

.input__label {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.5;
}

.input__label_end {
  float: right;
  padding-right: 5px;
}

.input__textfield {
  max-width: 320px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 15px;
}

.input__textfield::-webkit-input-placeholder {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
}

.input__textfield:-ms-input-placeholder {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
}

.input__textfield::-ms-input-placeholder {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
}

.input__textfield::placeholder {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
}

.input__date {
  max-width: 150px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 15px;
}

.input__date_filter {
  max-width: 260px;
}

.input_focus {
  border-color: rgba(31, 32, 65, 0.5);
}

.input_focus::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input_focus:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input_focus::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input_focus::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input__dropdown {
  max-width: 320px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.75);
}

.input__option {
  max-width: 320px;
  width: 100%;
  color: rgba(31, 32, 65, 0.75);
}

.input__submit {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.input__value {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.5);
  line-height: 18px;
}

.button_like-button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #fff;
  margin-right: 10px;
  position: relative;
}

.button__heart {
  position: absolute;
  font-size: 10px;
  line-height: 9px;
  top: 25%;
  left: 12.5%;
  color: rgba(31, 32, 65, 0.25);
}

.button__like-count {
  position: absolute;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
  font-size: 10px;
  line-height: 12px;
  top: 3px;
  left: 22px;
}

.button_liked {
  color: #bc9cff;
  border-color: #bc9cff;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .input__checkbox,
  .input__radio,
  .input__switch {
    --active: #fff;
    --active-inner: #bc9cff;
    --active-inner-lg: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    --active-border: #bc9cff;
    --border: rgba(31, 32, 65, 0.25);
    --border-hover: 1px solid rgba(31, 32, 65, 0.5);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: border-color 0.3s, box-shadow 0.2s;
    transition: border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  }
  .input__checkbox:after,
  .input__radio:after,
  .input__switch:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  .input__checkbox:checked,
  .input__radio:checked,
  .input__switch:checked {
    --b: var(--active);
    --bc: var(--active-border);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .input__checkbox:disabled,
  .input__radio:disabled,
  .input__switch:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .input__checkbox:disabled:checked,
  .input__radio:disabled:checked,
  .input__switch:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .input__checkbox:disabled + label,
  .input__radio:disabled + label,
  .input__switch:disabled + label {
    cursor: not-allowed;
  }
  .input__checkbox:not(.input__switch),
  .input__radio:not(.input__switch),
  .input__switch:not(.input__switch) {
    width: 20px;
  }
  .input__checkbox:not(.input__switch):after,
  .input__radio:not(.input__switch):after,
  .input__switch:not(.input__switch):after {
    opacity: var(--o, 0);
  }
  .input__checkbox:not(.input__switch):checked,
  .input__radio:not(.input__switch):checked,
  .input__switch:not(.input__switch):checked {
    --o: 1;
  }
  .input__checkbox + label,
  .input__radio + label,
  .input__switch + label {
    max-width: 192px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 10px;
  }
  .input__checkbox:not(.input__switch) {
    border-radius: 7px;
  }
  .input__checkbox:not(.input__switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  .input__checkbox:not(.input__switch):checked {
    --r: 43deg;
  }
  .input__switch {
    width: 38px;
    border-radius: 11px;
  }
  .input__switch + label {
    max-width: 210px;
  }
  .input__switch:after {
    left: 2px;
    top: 1.5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  .input__switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  .input__switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  .input__radio {
    border-radius: 50%;
  }
  .input__radio:after {
    left: -1px;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-inner-lg);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.6));
            transform: scale(var(--s, 0.6));
  }
  .input__radio:checked {
    --s: 0.6;
  }
}

.input__star-label {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.input__star-label:before {
  content: "star";
  font-size: 24px;
  line-height: 20px;
}

/*sprite with stars*/
.input__stars {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  float: left;
}

.input__star-input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.input__star-label:checked ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

.input__star-label {
  background-position: 0 0;
  height: 40px;
  width: 43px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.input__star-label:hover,
.input__star-label:hover ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

#star-0 {
  left: 0px;
}

#star-1 {
  left: 53px;
}

#star-2 {
  left: 106px;
}

#star-3 {
  left: 159px;
}

#star-4 {
  left: 212px;
}

#star-5 {
  left: 265px;
}
