extends ../../../library/templates/base.pug
block title
	title "UI Kit: Form elements"
block styles
	link(rel="stylesheet" href="form-elements.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")

block body
	.container
		.column
			.column__subgrid.column_lowgap
				+textfield('text field','default','element_lowgap')(type='email' placeholder="Email")

				+textfield('text field','hover/focus','element_lowgap')(type='text' placeholder="Text" value="This is a pretty awesome" class="textfield_focus")

				+dropdown('dropdown','default','element_lowgap','people','')

				+textfield('masked text field','default','element_lowgap')(type="text" data-inputmask="'alias': 'datetime'" data-inputmask-inputFormat="dd/mm/yyyy" data-inputmask-clearmaskonlostfocus="false" data-inputmask-placeholder="ДД.ММ.ГГГГ" class="textfield_masked")

			+date('date dropdown','date dropdown','element_lowgap','double')(data-date-format="dd/mm/yyyy" data-clear-button="true" data-apply-button="true"  placeholder="ДД.ММ.ГГГГ")

			+date('filter date dropdown','','element_short element_lowgap','default')(data-date-format="dd M" data-range="true" data-clear-button="true" data-apply-button="true"   data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ")
			+subscribe('subscription text field','','element_short element_lowgap')
		.column
			+checkbox('checkbox buttons','',"element_shorter",0,'c','101','Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)')

			+radio('radio buttons','','element_shorter','r','gender','10','Мужчина','Женщина')

			+switch('toggle','','','sw','10','Получать спецпредложения','Получать спецпредложения')

			.element
				span.element__title like button
				.element__body
					+like(2)(id="like-1" )
					+like(12)(id="like-2" class="like_liked")

			.element.element_short
				span.element__title rate button
				.element__body.line
					+rate(4)(name="stars")
					+rate(5)(name="stars2")
		.column
			+range('range slider','5 000Р-10 000р','element_short')

			.element
				span.element__title buttons
				.element__body.element__subgrid.element_short
					+button('Click me','purple','normal',0)(class="element__subgrid_inner")
					+button('Click me','purple','normal',0)(class='element__subgrid_inner button_hover')
					+button('Click me','white','normal',0)(class="element__subgrid_inner")
					+button('Click me','white','normal',0)(class='button_hover element__subgrid_inner')
					+button('Click me','text','normal',0)(class="element__subgrid_inner")
					+button('Click me','text-grey','normal',0)(class="element__subgrid_inner")
				+button('Перейти к оплате','purple','wide',1)()
			.element
				span.element__title Pagination
				+pagination(1,15,'last','1 – 12 из 100+ вариантов аренды','1','2','3')(class="element__body")
		.column.column_small.column_lowgap
			+dropdown('dropdown','default','element_short element_lowgap','beds','220')

			+dropdown('dropdown','expanded','element_short element_lowgap','beds','220')(data-inline='true')
		.column
			+dropdown('dropdown','','element_large element_lowgap','people','')(data-is-apply-btn="true" data-apply-btn-content="Применить" data-inline="true")

		.column
			+dropdown('dropdown','','element_lowgap','people','210')(data-is-apply-btn="true" data-apply-btn-content="Применить" data-is-clear-btn="true" data-clear-btn-content="Очистить" data-inline="true")

		.column
			+expandable-list('expandable checkbox list','element_short')(id="list-1")
				+checkbox('','','expandable-list__list element__body',0,'ec1','011100','Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь')

			+expandable-list('expandable checkbox list','element_short',1)(id="list-2")
				+checkbox('','','expandable-list__list element__body',0,'ec1','011100','Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь')

		.column
			+checkbox('rich checkbox buttons','','',1,'rc','00','Широкий коридор','Помощник для инвалидов')(data-subtext-1='Ширина коридоров в номере не менее 91см.' data-subtext-2='На 1 этаже вас встретит специалист и проводит до номера.')
		.column
			+bullet-list('Bullet list','','','Нельзя с питомцами', 'Без вечеринок и меропритий', 'Время прибытия - после 13:00, а выезд до 12:00')

		.column
			+feature('Комфорт','Шумопоглощающие стены','','smile')
			+feature('Удобство','Окно в каждой из спален','','apartment')
		.column.column_double
			.element
				+review('Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',12,1)

	script(src="../../../library/plugins/ionRangeSlider/js/ion.rangeSlider.min.js")
	script(src="../../../library/plugins/item-quantity-dropdown/js/item-quantity-dropdown.min.js")
	script(src="../../../library/plugins/inputmask/jquery.inputmask.js")
	script(src="../../../library/plugins/air-datepicker/js/datepicker.js")
	script(src="../../../library/blocks/expandable-list/expandable-list.js")
	script(src="form-elements.js")
