@import "../../../library/templates/base";
@import "../../../library/nullstyle/nullstyle.scss";
@import "../../../src/fonts/fonts";
@import "../../../library/blocks/dropdown/dropdown";
@import "../../../library/blocks/range/range";
@import "../../../library/blocks/textfield/textfield";@import "../../../library/blocks/date/date";
@import "../../../library/blocks/subscribe/subscribe";
@import "../../../library/blocks/checkbox/checkbox";
@import "../../../library/blocks/radio/radio";
@import "../../../library/blocks/switch/switch";
@import "../../../library/blocks/like/like";
@import "../../../library/blocks/rate/rate";
@import "../../../library/blocks/button/button";
@import "../../../library/blocks/pagination/paginaion";
@import "../../../library/blocks/expandable-list/expandable-list";
@import "../../../library/blocks/bullet-list/bullet-list";
@import "../../../library/blocks/feature/feature";
@import "../../../library/blocks/review/review";
@import "../../../library/blocks/element/element";

.container {
    display: grid;
    grid-template-columns: 320fr 260fr 320fr;
    column-gap: 8.75vw;
    row-gap: 6.97vw;
    margin: 9.72vw;

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, minmax(min-content, 320px));
        row-gap: 40px;
    }

    @media (max-width: 600px) {
        grid-template-columns: minmax(min-content, 320px);
        justify-content: center;

    }
}

.column {
    display: grid;
    row-gap: 40px;


    align-content: start;

    &_small {
        max-height: 221px;
    }

    &_lowgap {
        row-gap: 20px;
    }

    &_double {
        grid-column-end: span 2;

        & .element {
            max-width: 710px;
        }

        @media (max-width: 600px) {
            grid-column-end: span 1;

        }
    }

    &__subgrid {
        display: grid;
    }

}