extends ../../../library/templates/base.pug
block title
	title "UI Kit: Form elements"
block styles
	link(rel="stylesheet" href="form-elements.css")
block body
	.page
		img.page__logo(src="../../../src/img/logo.svg")
		.page__container
			.grid-block
				.input.input_mar20
					span.input__title text field
					label.input__label.input__label_end Default
					input.input__textfield(type="text" placeholder="Email")
				.input.input_mar20
					span.input__title text field
					label.input__label.input__label_end Hover/Focus
					input.input__textfield.input_focus(type="text" placeholder="This is a pretty awesome")
				.input.input_mar20
					span.input__title dropdown
					label.input__label.input__label_end Default
					select.input__dropdown(placeholder="Сколько гостей")
						option.input__option(value="" disabled selected) Сколько гостей
				.input
					span.input__title Masked text field
					label.input__label.input__label_end Default
					input.input__textfield(type="text" placeholder="ДД.ММ.ГГГГ")
				div
					.input.input_inline
						span.input__title date dropdown
						input.input__date(type="date")

					.input.input_inline
						span.input__title date dropdown
						input.input__date(type="date" value="2019-08-19")
				.input
					span.input__title filter date dropdown
					input.input__date.input__date_filter(type="date" value="2019-08-19")
				.input
					span.input__title subscription text field
					input(type='email' placeholder='Email').input__textfield
					input(type='image' src='../../../src/img/arrow_forward.svg').input__submit
			.grid-block
				.input
					span.input__title.input__title_m-b-16 checkbox buttons
					ul
						li.input_line
							input.input__checkbox(id ="c1" type="checkbox")
							label.input__value(for="c1") Можно курить
						li.input_line
							input.input__checkbox(id="c2" type="checkbox" checked)
							label.input__value(for="c2") Можно с питомцами
						li.input_line
							input.input__checkbox(id="c3" type="checkbox" checked)
							label.input__value(for="c3") Можно пригласить гостей (до 10 человек)
				.input
					span.input__title.input__title_m-b-16 radio buttons
					div
						.input_inline
							input.input__radio(name="gender" id="r1" type="radio" checked)
							label.input__value(for="r1") Мужчина
						.input_inline
							input.input__radio(name="gender" id="r2" type="radio")
							label.input__value(for="r2") Женщина
				.input
					span.input__title.input__title_m-b-16 toggle
					ul
						li.input_line
							input.input__switch(id="sw1" type="checkbox" checked)
							label.input__value(for="sw1") Получать спецпредложения
						li.input_line
							input.input__switch(id="sw2" type="checkbox" checked)
							label.input__value(for="sw2") Получать спецпредложения
				.input
					span.input__title.input__title_m-b-16 like button
					div
						button.button.button_like-button
							i.material-icons.button__heart &#xe87e;
							.button__like-count 2
						button.button.button_like-button.button_liked
							i.material-icons.button__heart.button_liked &#xe87d;
							.button__like-count.button_liked 12
				.input
					span.input__title.input__title_m-b-16 rate button
					br
					.input__stars.input_inline
						input.input__star-input(id="star-5-1" type="radio" name="reviewStars-1")
						label.material-icons.input__star-label(for="star-5-1")
						input.input__star-input(id="star-4-1" type="radio" name="reviewStars-1" checked)
						label.material-icons.input__star-label(for="star-4-1")
						input.input__star-input(id="star-3-1" type="radio" name="reviewStars-1")
						label.material-icons.input__star-label(for="star-3-1")
						input.input__star-input(id="star-2-1" type="radio" name="reviewStars-1")
						label.material-icons.input__star-label(for="star-2-1")
						input.input__star-input(id="star-1-1" type="radio" name="reviewStars-1")
						label.material-icons.input__star-label(for="star-1-1")
					.input__stars.input_inline
						input.input__star-input(id="star-5" type="radio" name="reviewStars-2" checked)
						label.material-icons.input__star-label(for="star-5")
						input.input__star-input(id="star-4" type="radio" name="reviewStars-2")
						label.material-icons.input__star-label(for="star-4")
						input.input__star-input(id="star-3" type="radio" name="reviewStars-2")
						label.material-icons.input__star-label(for="star-3")
						input.input__star-input(id="star-2" type="radio" name="reviewStars-2")
						label.material-icons.input__star-label(for="star-2")
						input.input__star-input(id="star-1" type="radio" name="reviewStars-2")
						label.material-icons.input__star-label(for="star-1")
			.grid-block
				.input
					span.input__title range slider
					label.input__label.input__label_end 5000Р-10 000р
					input.input__range(type="range" checked)
				.input
					span.input__title buttons
					button.button.button_purple Click Me
					button.button.button_purple.button_locked Click Me
					button.button.button_white Click Me
					button.button.button_white.button_locked Click Me
					button.button.button_text Click Me
					button.button.button_text_gray Click Me
					button.button.button_purple.button_arrowed Перейти к оплате
				.input
					span.input__title Pagination
					.pagination
						a.pagination__elem.pagination__elem_current 1
						a.pagination__elem.pagination__elem_current 2
						a.pagination__elem.pagination__elem_current 3
						a.pagination__elem.pagination__elem_current ...
						a.pagination__elem.pagination__elem_current 15
						button.button.button_next-page
			.grid-block
				.input
					span.input__title dropdown
					label.input__label.input__label_end Default
					select.input__dropdown(placeholder="2 спальни, 2 кровати...")
				.input
					span.input__title dropdown
					label.input__label.input__label_end Expanded
					select.input__dropdown.input__dropdown_expanded(placeholder="2 спальни, 2 кровати...")
						span.input__title Спальни
						option.input__select
						span.input__title Кровати
						option.input__select
						span.input__title Ванные комнаты
						option.input__select
				.input
					details.details
						summary.input__title expandable checkbox list
						ul
							li
								input.input__checkbox(type="checkbox")
								label.input__label Завтрак
							li
								input.input__checkbox(type="checkbox" checked)
								label.input__label Письменный стол
							li
								input.input__checkbox(type="checkbox" checked)
								label.input__label Стул для кормления
							li
								input.input__checkbox(type="checkbox" checked)
								label.input__label Кроватка
							li
								input.input__checkbox(type="checkbox")
								label.input__label Телевизор
							li
								input.input__checkbox(type="checkbox")
								label.input__label Шампунь
							li
								input.input__checkbox(type="checkbox")
								label.input__label Телевизор
							li
								input.input__checkbox(type="checkbox")
								label.input__label Шампунь
				.input
					details(open).details
						summary.input__title expandable checkbox list
						ul
				.feature
					img.feature__logo
					.feature__title Комфорт
					.feature__text Шумопоглощающие стены
				.feature
					img.feature__logo
					.feature__title Удобство
					.feature__text Окно в каждой из спален
			.grid-block
				.input
					span.input__title dropdown
					label.input__label.input__label_end Expanded
					select.input__dropdown.input__dropdown_expanded(placeholder="Сколько гостей")
						span.input__title Взрослые
						option.input__select
						span.input__title Дети
						option.input__select
						span.input__title Младенцы
						option.input__select
						button.button.button_text Применить
				.input
					span.input__title rich checkbox buttons
					input.input__checkbox(type="checkbox")
					label.input__label.input__label_rich Широкий коридор
						br
						span.input__label.input__label_small Ширина коридоров в номере не менее 91см.
					input.input__checkbox(type="checkbox")
					label.input__label.input__label_rich Помощник для инвалидов
						br
						span.input__label.input__label_small На 1 этаже вас встретит специалист и проводит до номера.
				.review
					img.review__foto
					span.review__person
					span.review__date
					p.review__text
					button.button.button_like.button_liked
			.grid-block
				.input
					span.input__title dropdown
					label.input__label.input__label_end Expanded
					select.input__dropdown.input__dropdown_expanded(placeholder="3 гостя")
						span.input__title Взрослые
						option.input__select
						span.input__title Дети
						option.input__select
						span.input__title Младенцы
						option.input__select
						button.button.button_text_gray Очистить
						button.button.button_text Применить
				.input
					span.input__title Bullet list
					ul.list
						li.list__elem Нельзя с питомцами
						li.list__elem Без вечеринок и меропритий
						li.list__elem Врем яприбытия - после 13:00, а выезд до 12:00