@import "../../../library/nullstyle/nullstyle";
@import "../../../src/fonts/fonts";
@import "../../../library/blocks/page/page";
@import "../../../library/blocks/button/button";
@import "../../../library/blocks/form/form";
@import "../../../library/mixins/text";
@import "../../../library/plugins/item-quantity-dropdown/css/item-quantity-dropdown.min";
@import "../../../library/plugins/ionrangeSlider/css/irs";

@mixin shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}

.page {
    min-height: 1853px;
    height: 100%;

    &__container {
        display: grid;
        margin: 140px/1350px * 100%;
        margin-bottom: 130px/1350px * 100%;
        grid-template-columns: 320px 260px 320px;
        column-gap: 130px;
        grid-template-rows: repeat(2, max-content);
        row-gap: 100px;
    }
}

.grid-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.input {
    position: relative;
    width: 100%;
    margin-bottom: 40px;

    &_inline {
        display: inline-block;
        max-width: 150px;
        width: max-content;

        &:first-of-type {
            margin-right: 20px;
        }
    }

    &_line {
        margin-top: 10px;
    }

    &_mar20 {
        margin-bottom: 20px;
    }

    &__title {
        @include text_H3;
        display: inline-block;
        text-align: left;
        margin-bottom: 5px;

        &_m-b16 {
            margin-bottom: 16px;
        }
    }

    &__label {
        @include text_H3;
        font-weight: 400;
        color: rgba(31, 32, 65, 0.5);
    }

    &__label_end {
        float: right;
        padding-right: 5px;
    }

    &__textfield {
        max-width: 320px;
        width: 100%;
        height: 44px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        @include text_Body;
        padding-left: 15px;

        &::placeholder {
            @include text_Body;
            color: rgba(31, 32, 65, 0.25);
        }
    }

    &__date {
        max-width: 150px;
        width: 100%;
        height: 44px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        @include text_Body;
        padding-left: 15px;

        &_filter {
            max-width: 260px;
        }
    }

    &_focus {
        border-color: rgba(31, 32, 65, 0.5);

        &::placeholder {
            color: rgba(31, 32, 65, 0.75);
        }
    }

    &__dropdown {
        max-width: 320px;
        width: 100%;
        height: 44px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        @include text_Body;
        padding-left: 15px;
        color: rgba(31, 32, 65, 0.75);
    }

    &__option {
        max-width: 320px;
        width: 100%;
        color: rgba(31, 32, 65, 0.75);
    }

    &__submit {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 12px;
        bottom: 12px;
    }

    &__value {
        @include text_Body;
        color: rgba(31, 32, 65, 0.5);
        line-height: 18px;
    }

    &__range {
        margin-bottom: 20px;
    }

    &__dropdown_expanded {}

    &__select {}

    &__label_rich {
        display: flex;
        @include text_Body;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        text-transform: none;
        width: 100%;
    }

    &__label_small {
        display: flex;
        color: rgba(31, 32, 65, 0.5);
        text-transform: none;
        font-size: 12px;
        line-height: 14px;
    }
}

.richCheckbox {
    margin-bottom: 10px;
    width: 100%;

    &:first-of-type {
        margin-top: 16px;
    }
}

.button {
    width: 99px;
    height: 44px;
    padding: 0;

    &_demo {
        margin-right: 20px;
        margin-bottom: 30px;
    }

    &_purple {}

    &_locked {
        opacity: 0.5;
    }

    &_white {}

    &_text {
        color: #bc9cff;
        border: none;
        background: none;
        width: auto;
        height: auto;
    }

    &_text_gray {
        color: rgba(31, 32, 65, 0.5);
    }

    &_wide {
        width: 100%;
    }

    &_arrowed {
        position: relative;
    }

    &_next-page {}
}

.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.pagination {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    row-gap: 10px;
    justify-content: start;
    @include text_Body;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);

    &__elem {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }

    &__text {
        grid-column: 1/7;
        @include text_Body;
    }

    &__elem_current {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 22px;
        color: #fff;
        font-weight: bold;
    }

    &__arrow {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border-radius: 22px;
        color: #fff;
    }
}

.dropdown__buttons {
    display: flex;
    padding: 20px 7px 13px 13px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.marginTop150 {
    margin-top: 150px;
}

.details__checkbox {
    margin-bottom: 10px;

    &:first-of-type {
        margin-top: 18px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

summary {
    display: block;
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    @include material-icon;
    content: "keyboard_arrow_down";
    width: 44px;
    height: 44px;
    position: absolute;
    right: -74px;
    top: -4px;
}

details[open].details>summary::after {
    @include material-icon;
    content: "keyboard_arrow_up";
}

.feature {
    position: relative;
    padding-left: 60px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    max-width: 280px;
    width: 100%;
    margin-bottom: 20px;

    &_smile:before {
        position: absolute;
        @include material-icon;
        content: "sentiment_very_satisfied";
        top: 0;
        left: 0;
        font-size: 48px;
        color: #bc9cff;
    }

    &_apartment:before {
        position: absolute;
        @include material-icon;
        content: "apartment";
        top: 0;
        left: 0;
        font-size: 48px;
        color: #bc9cff;
    }

    &__title {
        display: block;
        @include text_Body;
        font-weight: bold;
    }

    &__text {
        @include text_Body;
    }
}

.review {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 50px 655px;
    grid-template-rows: repeat(2, max-content);
    @include text_Body;

    &__foto {
        background-image: url(../../../src/img/avatar.png);
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: 50% 28%;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
    }

    &__title {
        display: flex;
        height: 48px;
        flex-direction: column;
        //padding: 5px 0 5px 0;
        justify-content: space-evenly;
    }

    &__person {
        font-weight: bold;
    }

    &__like {
        justify-self: center;
    }

    &__text {}
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {

    .input__checkbox,
    .input__radio,
    .input__switch {
        --active: #fff;
        --active-inner: #bc9cff;
        --active-inner-lg: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        --active-border: #bc9cff;
        --border: rgba(31, 32, 65, 0.25);
        --border-hover: 1px solid rgba(31, 32, 65, 0.5);
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 20px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: border-color 0.3s, box-shadow 0.2s;

        &:after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        }

        &:checked {
            --b: var(--active);
            --bc: var(--active-border);
            --d-o: 0.3s;
            --d-t: 0.6s;
            --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
        }

        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: 0.9;

            &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }

            &+label {
                cursor: not-allowed;
            }
        }

        &:not(.input__switch) {
            width: 20px;

            &:after {
                opacity: var(--o, 0);
            }

            &:checked {
                --o: 1;
            }
        }

        &+label {
            max-width: 230px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 10px;
        }
    }

    .input__checkbox {
        &:not(.input__switch) {
            border-radius: 4px;

            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }

            &:checked {
                --r: 43deg;
            }
        }
    }

    .input__switch {
        width: 38px;
        border-radius: 11px;

        &+label {
            max-width: 210px;
        }

        &:after {
            left: 2px;
            top: 1.5px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background: var(--ab, var(--border));
            transform: translateX(var(--x, 0));
        }

        &:checked {
            --ab: var(--active-inner);
            --x: 17px;
        }

        &:disabled {
            &:not(:checked) {
                &:after {
                    opacity: 0.6;
                }
            }
        }
    }

    .input__radio {
        border-radius: 50%;

        &:after {
            left: -1px;
            top: -1px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: var(--active-inner-lg);
            opacity: 0;
            transform: scale(var(--s, 0.6));
        }

        &:checked {
            --s: 0.6;
        }
    }
}

.input__stars {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    float: left;
}

.input__star-input {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}

.input__star-label {
    &:before {
        content: "star_border";
        color: #bc9cff;
        font-size: 24px;
        line-height: 20px;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.input__star-input:checked~.input__star-label::before,
.input__star-input:hover~.input__star-label::before {
    content: "star";
}

.input__like {
    position: relative;
}

.input__like-input {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}

.input__like-count {
    @include text_Body;
    position: absolute;
    color: inherit;
    font-size: 10px;
    line-height: 12px;
    top: 3px;
    left: 22px;
}

.input__like-label {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: #fff;
    position: relative;
    color: rgba(31, 32, 65, 0.25);

    &:before {
        content: "favorite_border";
        font-size: 10px;
        line-height: 9px;
        cursor: pointer;
        position: absolute;
        top: 27%;
        left: 12.5%;
    }
}

.input__like-input:hover~.input__like-label,
.input__like-input:checked~.input__like-label {
    color: #bc9cff;
    border-color: #bc9cff;
    transition: all 0.3s linear 1ms;
}

.input__like-input:checked~.input__like-label::before {
    content: "favorite";
    transition: all 0.3s linear 1ms;
}

.list {
    @include text_Body;

    &__elem {
        position: relative;
        padding-left: 21px;
        margin-bottom: 10px;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: rgba(31, 32, 65, 0.25);
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 7.5px;
        }
    }
}