extends ../../../library/templates/base.pug
block title
	title "UI Kit: Form elements"
block styles
	link(rel="stylesheet" href="form-elements.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")

block body
	+page()
		.page__block
			.element
				.element__head
					span.element__title text field
					span.element__subtitle Default
				.element__body
					input.textfield(type="email" placeholder="Email")
			.element
				.element__head
					span.element__title text field
					span.element__subtitle Hover / Focus
				.element__body
					input.textfield.textfield_focus(type="text" value="This is a pretty awesome" placeholder="Text")
			.element
				.element__head
					span.element__title dropdown
					span.element__subtitle Default
				.element__body
					.iqdropdown.people.no-buttons.textfield
						p.iqdropdown-selection
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="adults")
								div
									p.iqdropdown-item Взрослые
							.iqdropdown-menu-option(data-id="childs")
								div
									p.iqdropdown-item Дети
							.iqdropdown-menu-option(data-id="babies")
								div
									p.iqdropdown-item Младенцы
			.element
				.element__head
					span.element__title Masked text field
					span.element__subtitle Default
				.element__body.element__masked-textfield
					input.textfield.textfield_masked(type="text" data-inputmask="'alias': 'datetime'" data-inputmask-inputFormat="dd/mm/yyyy" data-inputmask-clearmaskonlostfocus="false" data-inputmask-placeholder="ДД.ММ.ГГГГ")
			.element__line
				.element.element_inline
					.element__head
						span.element__title date dropdown
					.element__body
						+date()(type="text" id="date-1" data-date-format="dd/mm/yyyy" data-clear-button="true" data-apply-button="true"  placeholder="ДД.ММ.ГГГГ")
				.element.element_inline
					.element__head
						span.element__title date dropdown
					.element__body
						+date()(type="text" id="date-2" data-date-format="dd/mm/yyyy" data-clear-button="true" data-apply-button="true"  placeholder="ДД.ММ.ГГГГ")
			.element.element_short.element__date
				.element__head
					span.element__title filter date dropdown
				.element__body
					+date()(type="text" id="date-3" data-date-format="dd M" data-range="true" data-clear-button="true" data-apply-button="true"   data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ")
			.element.element_short.element__subscribe
				.element__head
					span.element__title subscription text field
				.element__body
					+subscribe()(id="email1")
		.page__block
			.element
				.element__head
					span.element__title checkbox buttons
				ul.element__body.element__list.element_vshort
					+checkbox('li','Можно курить')(class="element__checkbox" id="c1")
					+checkbox('li','Можно с питомцами')(class="element__checkbox" id="c2" checked)
					+checkbox('li','Можно пригласить гостей (до 10 человек)')(class="element__checkbox" id="c3" checked)
			.element
				.element__head
					span.element__title radio buttons
				.element__body
					+radio('Мужчина')(class='element__radio' name='gender' id='r1' checked)
					+radio('Женщина')(class='element__radio' name='gender' id='r2')
			.element
				.element__head
					span.element__title toggle
				ul.element__body.element__list
					li.switch.element__switch
						input.switch__input(id="sw1" type="checkbox" checked)
						label(for="sw1").switch__label Получать спецпредложения
					li.switch.element__switch
						input.switch__input(id="sw2" type="checkbox")
						label(for="sw2").switch__label Получать спецпредложения
			.element
				.element__head
					span.element__title like button
				.element__body
					+like(2)(id="like-1" class="element__like")
					+like(12)(id="like-2" class="like_liked element__like")
			.element
				.element__head
					span.element__title rate button
				.element__body
					.rate.element__rate
						input.rate__input(id="star-5-1" type="radio" name="reviewStars-1")
						label.material-icons.rate__label(for="star-5-1")
						input.rate__input(id="star-4-1" type="radio" name="reviewStars-1" checked)
						label.material-icons.rate__label(for="star-4-1")
						input.rate__input(id="star-3-1" type="radio" name="reviewStars-1")
						label.material-icons.rate__label(for="star-3-1")
						input.rate__input(id="star-2-1" type="radio" name="reviewStars-1")
						label.material-icons.rate__label(for="star-2-1")
						input.rate__input(id="star-1-1" type="radio" name="reviewStars-1")
						label.material-icons.rate__label(for="star-1-1")
					.rate.element__rate
						input.rate__input(id="star-5" type="radio" name="reviewStars-2" checked)
						label.material-icons.rate__label(for="star-5")
						input.rate__input(id="star-4" type="radio" name="reviewStars-2")
						label.material-icons.rate__label(for="star-4")
						input.rate__input(id="star-3" type="radio" name="reviewStars-2")
						label.material-icons.rate__label(for="star-3")
						input.rate__input(id="star-2" type="radio" name="reviewStars-2")
						label.material-icons.rate__label(for="star-2")
						input.rate__input(id="star-1" type="radio" name="reviewStars-2")
						label.material-icons.rate__label(for="star-1")
		.page__block
			.element.element_short.range
				.element__head
					span.element__title range slider
					span.element__subtitle.range__value 5 000Р-10 000р
				.element__body.element__range
					input(type="text" name="my_range" value="").js-range-slider.range__input
			.element
				.element__head
					span.element__title buttons
				.element__body.element__buttons
					+button('Click me')(class='button_purple button_demo')
					+button('Click me')(class='button_purple button_demo button_hover')
					+button('Click me')(class='button_white button_demo')
					+button('Click me')(class='button_white button_hover button_demo')
					br
					+button('Click me')(class='button_text button_demo')
					+button('Click me')(class='button_text button_text-grey button_demo')
					+button('Перейти к оплате')(class='button_purple  button_wide button_arrowed button_demo')
						+arrow('span','forward')(class='button__arrow')
			.element
				.element__head
					span.element__title Pagination
				+pagination(1,15,'last','1 – 12 из 100+ вариантов аренды','1','2','3')(class="element__body element__pagination")
		.page__block
			.element.element_short
				.element__head
					span.element__title dropdown
					span.element__subtitle Default
				.element__body
					.iqdropdown.beds.textfield
						p.iqdropdown-selection
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="bedrooms" data-defaultcount="2")
								div
									p.iqdropdown-item Спальни
							.iqdropdown-menu-option(data-id="beds" data-defaultcount="2")
								div
									p.iqdropdown-item Кровати
							.iqdropdown-menu-option(data-id="bathrooms")
								div
									p.iqdropdown-item Ванные комнаты
			.element.element_short
				.element__head
					span.element__title dropdown
					span.element__subtitle Expanded
				.element__body
					.iqdropdown.beds.textfield
						p.iqdropdown-selection(data-inline="true")
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="bedrooms" data-defaultcount="2")
								div
									p.iqdropdown-item Спальни
							.iqdropdown-menu-option(data-id="beds" data-defaultcount="2")
								div
									p.iqdropdown-item Кровати
							.iqdropdown-menu-option(data-id="bathrooms")
								div
									p.iqdropdown-item Ванные комнаты
		.page__block
			.element.element_large
				.element__head
					span.element__title dropdown
				.element__body
					.iqdropdown.people.textfield
						p.iqdropdown-selection(data-is-apply-btn="true" data-apply-btn-content="Применить" data-inline="true")
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="adults")
								div
									p.iqdropdown-item Взрослые
							.iqdropdown-menu-option(data-id="childs")
								div
									p.iqdropdown-item Дети
							.iqdropdown-menu-option(data-id="babies")
								div
									p.iqdropdown-item Младенцы
		.page__block
			.element
				.element__head
					span.element__title dropdown
				.element__body
					.iqdropdown.people.textfield
						p.iqdropdown-selection(data-is-apply-btn="true" data-apply-btn-content="Применить" data-is-clear-btn="true" data-clear-btn-content="Очистить" data-inline="true")
						.iqdropdown-menu
							.iqdropdown-menu-option(data-id="adults")
								div
									p.iqdropdown-item Взрослые
							.iqdropdown-menu-option(data-id="childs")
								div
									p.iqdropdown-item Дети
							.iqdropdown-menu-option(data-id="babies")
								div
									p.iqdropdown-item Младенцы
		.page__block
			.element.element_short
				+expandable-list('expandable checkbox list','element__title')
					+checkbox('li','Завтрак')(class="expandable-list__checkbox" id="ec11")
					+checkbox('li','Письменный стол')(class="expandable-list__checkbox" id="ec12" checked)
					+checkbox('li','Стул для кормления')(class="expandable-list__checkbox" id="ec13" checked)
					+checkbox('li','Кроватка')(class="expandable-list__checkbox" id="ec14" checked)
					+checkbox('li','Телевизор')(class="expandable-list__checkbox" id="ec15")
					+checkbox('li','Шампунь')(class="expandable-list__checkbox" id="ec16")
			.element.element_short
				+expandable-list('expandable checkbox list','element__title')(open)
					+checkbox('li','Завтрак')(class="expandable-list__checkbox" id="ec21")
					+checkbox('li','Письменный стол')(class="expandable-list__checkbox" id="ec22" checked)
					+checkbox('li','Стул для кормления')(class="expandable-list__checkbox" id="ec23" checked)
					+checkbox('li','Кроватка')(class="expandable-list__checkbox" id="ec24" checked)
					+checkbox('li','Телевизор')(class="expandable-list__checkbox" id="ec25")
					+checkbox('li','Шампунь')(class="expandable-list__checkbox" id="ec26")
		.page__block
			.element
				.element__head
					span.element__title rich checkbox buttons
				.element__body
					+checkbox('div','Широкий коридор',1,'Ширина коридоров в номере не менее 91см.')(id="rc1")
					+checkbox('div','Помощник для инвалидов',1,'На 1 этаже вас встретит специалист и проводит до номера.')(id="rc2")
		.page__block
			.element
				.element__head
					span.element__title Bullet list
				+bullet-list('Нельзя с питомцами', 'Без вечеринок и меропритий', 'Время прибытия - после 13:00, а выезд до 12:00')
		.page__block
			.element
				+feature('smile','Комфорт','Шумопоглощающие стены')
				+feature('apartment','Удобство','Окно в каждой из спален')
		.page__block
			.element
				+review('Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',12,1)
	script(src="../../../library/plugins/ionRangeSlider/js/ion.rangeSlider.min.js")
	script(src="../../../library/plugins/item-quantity-dropdown/js/item-quantity-dropdown.min.js")
	script(src="../../../library/plugins/inputmask/jquery.inputmask.js")
	script(src="../../../library/plugins/air-datepicker/js/datepicker.js")
	script(src="form-elements.js")