@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Шрифты */
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Bold.woff") format("woff"), url("../../../src/fonts/Montserrat-Bold.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Bold.svg") format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"), url("../../../src/fonts/Montserrat-Regular.woff") format("woff"), url("../../../src/fonts/Montserrat-Regular.ttf") format("truetype"), url("../../../src/fonts/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Bold.woff") format("woff"), url("../../../src/fonts/Quicksand-Bold.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Bold.svg") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand"), url("../../../src/fonts/Quicksand-Regular.woff") format("woff"), url("../../../src/fonts/Quicksand-Regular.ttf") format("truetype"), url("../../../src/fonts/Quicksand-Regular.svg") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Regular.svg") format("svg"), url("../../../src/fonts/opensans.woff") format("woff"), url("../../../src/fonts/opensans.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans"), url("../../../src/fonts/OpenSans-Bold.svg") format("svg"), url("../../../src/fonts/opensansbold.woff") format("woff"), url("../../../src/fonts/opensansbold.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../../src/fonts/MaterialIcons-Regular.woff2") format("svg"), url("../../../src/fonts/MaterialIcons-Regular.woff") format("woff"), url("../../../src/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

/* -------------- */
.page {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  color: #1f2041;
}

.page__logo {
  float: left;
  margin: 2.08333%;
  margin-right: 0;
}

.button {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 22px;
  border: 2px solid;
  padding: 7px 18px 8px 17px;
}

.button_white {
  color: #bc9cff;
  background-color: white;
  border-color: #bc9cff;
}

.button_purple {
  color: white;
  background-color: #bc9cff;
  border-color: #bc9cff;
}

.form__title {
  max-width: 220px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.form__text {
  max-width: 220px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.form__text-submit {
  position: relative;
  max-width: 260px;
}

.iqdropdown .icon-decrement,
.iqdropdown .icon-increment {
  display: inline-block;
  height: 15px;
  margin: auto;
  min-width: 15px;
  position: relative;
  width: 15px;
}

.iqdropdown .icon-decrement::after,
.iqdropdown .icon-increment::after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  font-size: 15px;
  color: rgba(31, 32, 65, 0.5);
  content: "remove";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.iqdropdown .icon-increment::after {
  content: "add";
}

.iqdropdown .iqdropdown-menu {
  background-color: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 0 0 4px 4px;
  cursor: default;
  display: none;
  left: 0;
  margin: -2px -1px -1px;
  position: absolute;
  right: 0;
  top: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 99999;
}

.iqdropdown .iqdropdown-menu-option {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  padding: 0 15px;
}

.iqdropdown .iqdropdown-menu-option:last-child {
  border: 0;
}

.iqdropdown .iqdropdown-menu-close {
  color: rgba(31, 32, 65, 0.5);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  height: 20px;
  margin: 20px 0;
  padding: 0 15px;
  text-align: right;
  width: 100%;
}

.iqdropdown.menu-open .iqdropdown-menu {
  display: block;
}

@media only screen and (max-width: 640px) {
  .iqdropdown .iqdropdown-menu.mobile-top-menu {
    top: -285px;
  }
}

.iqdropdown-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10px;
}

.iqdropdown-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.iqdropdown p.iqdropdown-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-top: 5px;
}

.iqdropdown .iqdropdown-item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.iqdropdown .iqdropdown-item-controls .counter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  padding: 20px;
  width: 32px;
  padding-left: 12px;
  padding-top: 7px;
}

.iqdropdown .iqdropdown-item-controls button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  padding: 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.iqdropdown .iqdropdown-item-controls button:hover {
  background-color: #fff;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement {
  border-radius: 22px;
}

.iqdropdown .iqdropdown-item-controls button.button-increment {
  border-radius: 22px;
}

.iqdropdown {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  position: relative;
  width: 100%;
}

.iqdropdown .iqdropdown-selection {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.iqdropdown .iqdropdown-selection::after,
.iqdropdown.menu-open .iqdropdown-selection::after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

.iqdropdown .iqdropdown-selection::after {
  content: "keyboard_arrow_down";
  display: inline-block;
  height: 5px;
  width: 12px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.iqdropdown.menu-open {
  border-color: rgba(31, 32, 65, 0.5);
}

.iqdropdown.menu-open .iqdropdown-selection::after {
  content: "keyboard_arrow_up";
}

.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.irs-handle {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  z-index: 1;
}

.irs-handle.type_last {
  z-index: 2;
}

.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default;
}

.irs-min {
  left: 0;
}

.irs-max {
  right: 0;
}

.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}

.irs-grid-pol.small {
  height: 4px;
}

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}

.irs-disabled {
  opacity: 0.4;
}

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

.irs--flat {
  height: 40px;
}

.irs--flat.irs-with-grid {
  height: 60px;
}

.irs--flat .irs-line {
  top: 25px;
  height: 12px;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #ed5565;
}

.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--flat .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: #da4453;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #a43540;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: white;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #ed5565;
  border-radius: 4px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}

.irs--flat .irs-grid-pol {
  background-color: #e1e4e9;
}

.irs--flat .irs-grid-text {
  color: #999;
}

.irs--big {
  height: 55px;
}

.irs--big.irs-with-grid {
  height: 70px;
}

.irs--big .irs-line {
  top: 33px;
  height: 12px;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-50%, #ddd), color-stop(150%, white));
  background: linear-gradient(to bottom, #ddd -50%, white 150%);
  border: 1px solid #ccc;
  border-radius: 12px;
}

.irs--big .irs-bar {
  top: 33px;
  height: 12px;
  background-color: #92bce0;
  border: 1px solid #428bca;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(30%, #428bca), to(#b9d4ec));
  background: linear-gradient(to bottom, #ffffff 0%, #428bca 30%, #b9d4ec 100%);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
}

.irs--big .irs-bar--single {
  border-radius: 12px 0 0 12px;
}

.irs--big .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: rgba(66, 139, 202, 0.5);
}

.irs--big .irs-handle {
  top: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #cbcfd5;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(30%, #B4B9BE), to(white));
  background: linear-gradient(to bottom, white 0%, #B4B9BE 30%, white 100%);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px white;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px white;
  border-radius: 30px;
}

.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
  border-color: rgba(0, 0, 0, 0.45);
  background-color: #939ba7;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(30%, #919BA5), to(white));
  background: linear-gradient(to bottom, white 0%, #919BA5 30%, white 100%);
}

.irs--big .irs-min,
.irs--big .irs-max {
  top: 0;
  padding: 1px 5px;
  color: white;
  text-shadow: none;
  background-color: #9f9f9f;
  border-radius: 3px;
}

.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  color: white;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #428bca;
  background: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#3071a9));
  background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  border-radius: 3px;
}

.irs--big .irs-grid-pol {
  background-color: #428bca;
}

.irs--big .irs-grid-text {
  color: #428bca;
}

.irs--modern {
  height: 55px;
}

.irs--modern.irs-with-grid {
  height: 55px;
}

.irs--modern .irs-line {
  top: 25px;
  height: 5px;
  background-color: #d1d6e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e4ea), to(#d1d6e0));
  background: linear-gradient(to bottom, #e0e4ea 0%, #d1d6e0 100%);
  border: 1px solid #a3adc1;
  border-bottom-width: 0;
  border-radius: 5px;
}

.irs--modern .irs-bar {
  top: 25px;
  height: 5px;
  background: #20b426;
  background: -webkit-gradient(linear, left top, left bottom, from(#20b426), to(#18891d));
  background: linear-gradient(to bottom, #20b426 0%, #18891d 100%);
}

.irs--modern .irs-bar--single {
  border-radius: 5px 0 0 5px;
}

.irs--modern .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(209, 214, 224, 0.5);
}

.irs--modern .irs-handle {
  top: 37px;
  width: 12px;
  height: 13px;
  border: 1px solid #a3adc1;
  border-top-width: 0;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}

.irs--modern .irs-handle > i:nth-child(1) {
  position: absolute;
  display: block;
  top: -4px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 1px solid #a3adc1;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.irs--modern .irs-handle > i:nth-child(2) {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  width: 10px;
  height: 12px;
  background: #e9e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e9e6e6));
  background: linear-gradient(to bottom, white 0%, #e9e6e6 100%);
  border-radius: 0 0 3px 3px;
}

.irs--modern .irs-handle > i:nth-child(3) {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 5px;
  border-left: 1px solid #a3adc1;
  border-right: 1px solid #a3adc1;
}

.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
  border-color: #7685a2;
  background: #c3c7cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(30%, #919ba5), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #919ba5 30%, #ffffff 100%);
}

.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
  border-color: #7685a2;
}

.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
  border-color: #48536a;
}

.irs--modern .irs-min,
.irs--modern .irs-max {
  top: 0;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  color: white;
  background-color: #d1d6e0;
  border-radius: 5px;
}

.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #20b426;
  color: white;
  border-radius: 5px;
}

.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #20b426;
}

.irs--modern .irs-grid {
  height: 25px;
}

.irs--modern .irs-grid-pol {
  background-color: #dedede;
}

.irs--modern .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--sharp {
  height: 50px;
  font-size: 12px;
  line-height: 1;
}

.irs--sharp.irs-with-grid {
  height: 57px;
}

.irs--sharp .irs-line {
  top: 30px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

.irs--sharp .irs-bar {
  top: 30px;
  height: 2px;
  background-color: #ee22fa;
}

.irs--sharp .irs-bar--single {
  border-radius: 2px 0 0 2px;
}

.irs--sharp .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(0, 0, 0, 0.5);
}

.irs--sharp .irs-handle {
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #a804b2;
}

.irs--sharp .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #a804b2;
}

.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: black;
}

.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: black;
}

.irs--sharp .irs-min,
.irs--sharp .irs-max {
  color: white;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 4px;
  opacity: 0.4;
  background-color: #a804b2;
  border-radius: 2px;
}

.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 4px;
  background-color: #a804b2;
  color: white;
  border-radius: 2px;
}

.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #a804b2;
}

.irs--sharp .irs-grid {
  height: 25px;
}

.irs--sharp .irs-grid-pol {
  background-color: #dedede;
}

.irs--sharp .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--round {
  height: 50px;
}

.irs--round.irs-with-grid {
  height: 65px;
}

.irs--round .irs-line {
  top: 15px;
  height: 4px;
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.irs--round .irs-bar {
  top: 15px;
  height: 4px;
  background-color: #6fcf97;
}

.irs--round .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--round .irs-shadow {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.irs--round .irs-handle {
  top: 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  background-color: #6fcf97;
  border-radius: 15px;
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #6fcf97;
}

.irs--round .irs-min,
.irs--round .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #6fcf97;
  color: white;
  border-radius: 4px;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #6fcf97;
}

.irs--round .irs-grid {
  height: 25px;
}

.irs--round .irs-grid-pol {
  background-color: #dedede;
}

.irs--round .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--square {
  height: 50px;
}

.irs--square.irs-with-grid {
  height: 60px;
}

.irs--square .irs-line {
  top: 31px;
  height: 4px;
  background-color: #dedede;
}

.irs--square .irs-bar {
  top: 31px;
  height: 4px;
  background-color: black;
}

.irs--square .irs-shadow {
  height: 2px;
  bottom: 21px;
  background-color: #dedede;
}

.irs--square .irs-handle {
  top: 25px;
  width: 16px;
  height: 16px;
  border: 3px solid black;
  background-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.irs--square .irs-handle.state_hover,
.irs--square .irs-handle:hover {
  background-color: #f0f6ff;
}

.irs--square .irs-min,
.irs--square .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: black;
  color: white;
}

.irs--square .irs-grid {
  height: 25px;
}

.irs--square .irs-grid-pol {
  background-color: #dedede;
}

.irs--square .irs-grid-text {
  color: silver;
  font-size: 11px;
}

.page {
  min-height: 1853px;
  height: 100%;
}

.page__container {
  display: -ms-grid;
  display: grid;
  margin: 10.37037%;
  margin-bottom: 9.62963%;
  -ms-grid-columns: 320px 260px 320px;
      grid-template-columns: 320px 260px 320px;
  -webkit-column-gap: 130px;
          column-gap: 130px;
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  row-gap: 100px;
}

.grid-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.input {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.input_inline {
  display: inline-block;
  max-width: 150px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.input_inline:first-of-type {
  margin-right: 20px;
}

.input_line {
  margin-top: 10px;
}

.input_mar20 {
  margin-bottom: 20px;
}

.input__title {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
}

.input__title_m-b16 {
  margin-bottom: 16px;
}

.input__label {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.5;
}

.input__label_end {
  float: right;
  padding-right: 5px;
}

.input__textfield {
  max-width: 320px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 15px;
}

.input__textfield::-webkit-input-placeholder {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
}

.input__textfield:-ms-input-placeholder {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
}

.input__textfield::-ms-input-placeholder {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
}

.input__textfield::placeholder {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.25);
}

.input__date {
  max-width: 150px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 15px;
}

.input__date_filter {
  max-width: 260px;
}

.input_focus {
  border-color: rgba(31, 32, 65, 0.5);
}

.input_focus::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input_focus:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input_focus::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input_focus::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input__dropdown {
  max-width: 320px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.75);
}

.input__option {
  max-width: 320px;
  width: 100%;
  color: rgba(31, 32, 65, 0.75);
}

.input__submit {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.input__value {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.5);
  line-height: 18px;
}

.input__range {
  margin-bottom: 20px;
}

.button {
  width: 99px;
  height: 44px;
  padding: 0;
}

.button_demo {
  margin-right: 20px;
  margin-bottom: 30px;
}

.button_locked {
  opacity: 0.5;
}

.button_text {
  color: #bc9cff;
  border: none;
  background: none;
  width: auto;
  height: auto;
}

.button_text_gray {
  color: rgba(31, 32, 65, 0.5);
}

.button_wide {
  width: 100%;
}

.button_arrowed {
  position: relative;
}

.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.pagination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[6];
      grid-template-columns: repeat(6, -webkit-min-content);
      grid-template-columns: repeat(6, min-content);
  row-gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}

.pagination__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.pagination__elem_current {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
}

.pagination__arrow {
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #fff;
}

.dropdown__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 7px 13px 13px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.marginTop150 {
  margin-top: 150px;
}

.details__checkbox {
  margin-bottom: 10px;
}

.details__checkbox:first-of-type {
  margin-top: 18px;
}

.details__checkbox:last-of-type {
  margin-bottom: 0;
}

summary {
  display: block;
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "keyboard_arrow_down";
  width: 44px;
  height: 44px;
  position: absolute;
  right: -74px;
  top: -4px;
}

details[open].details > summary::after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "keyboard_arrow_up";
}

.feature {
  position: relative;
  padding-left: 60px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  max-width: 280px;
  width: 100%;
  margin-bottom: 20px;
}

.feature_smile:before {
  position: absolute;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "sentiment_very_satisfied";
  top: 0;
  left: 0;
  font-size: 48px;
  color: #bc9cff;
}

.feature_apartment:before {
  position: absolute;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "apartment";
  top: 0;
  left: 0;
  font-size: 48px;
  color: #bc9cff;
}

.feature__title {
  display: block;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}

.feature__text {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .input__checkbox,
  .input__radio,
  .input__switch {
    --active: #fff;
    --active-inner: #bc9cff;
    --active-inner-lg: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    --active-border: #bc9cff;
    --border: rgba(31, 32, 65, 0.25);
    --border-hover: 1px solid rgba(31, 32, 65, 0.5);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: border-color 0.3s, box-shadow 0.2s;
    transition: border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  }
  .input__checkbox:after,
  .input__radio:after,
  .input__switch:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  .input__checkbox:checked,
  .input__radio:checked,
  .input__switch:checked {
    --b: var(--active);
    --bc: var(--active-border);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .input__checkbox:disabled,
  .input__radio:disabled,
  .input__switch:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .input__checkbox:disabled:checked,
  .input__radio:disabled:checked,
  .input__switch:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .input__checkbox:disabled + label,
  .input__radio:disabled + label,
  .input__switch:disabled + label {
    cursor: not-allowed;
  }
  .input__checkbox:not(.input__switch),
  .input__radio:not(.input__switch),
  .input__switch:not(.input__switch) {
    width: 20px;
  }
  .input__checkbox:not(.input__switch):after,
  .input__radio:not(.input__switch):after,
  .input__switch:not(.input__switch):after {
    opacity: var(--o, 0);
  }
  .input__checkbox:not(.input__switch):checked,
  .input__radio:not(.input__switch):checked,
  .input__switch:not(.input__switch):checked {
    --o: 1;
  }
  .input__checkbox + label,
  .input__radio + label,
  .input__switch + label {
    max-width: 192px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 10px;
  }
  .input__checkbox:not(.input__switch) {
    border-radius: 7px;
  }
  .input__checkbox:not(.input__switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  .input__checkbox:not(.input__switch):checked {
    --r: 43deg;
  }
  .input__switch {
    width: 38px;
    border-radius: 11px;
  }
  .input__switch + label {
    max-width: 210px;
  }
  .input__switch:after {
    left: 2px;
    top: 1.5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  .input__switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  .input__switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  .input__radio {
    border-radius: 50%;
  }
  .input__radio:after {
    left: -1px;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-inner-lg);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.6));
            transform: scale(var(--s, 0.6));
  }
  .input__radio:checked {
    --s: 0.6;
  }
}

.input__stars {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  float: left;
}

.input__star-input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.input__star-label:before {
  content: "star_border";
  color: #bc9cff;
  font-size: 24px;
  line-height: 20px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.input__star-input:checked ~ .input__star-label::before,
.input__star-input:hover ~ .input__star-label::before {
  content: "star";
}

.input__like {
  position: relative;
}

.input__like-input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.input__like-count {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  position: absolute;
  color: inherit;
  font-size: 10px;
  line-height: 12px;
  top: 3px;
  left: 22px;
}

.input__like-label {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #fff;
  position: relative;
  color: rgba(31, 32, 65, 0.25);
}

.input__like-label:before {
  content: "favorite_border";
  font-size: 10px;
  line-height: 9px;
  cursor: pointer;
  position: absolute;
  top: 27%;
  left: 12.5%;
}

.input__like-input:hover ~ .input__like-label,
.input__like-input:checked ~ .input__like-label {
  color: #bc9cff;
  border-color: #bc9cff;
  -webkit-transition: all 0.3s linear 1ms;
  transition: all 0.3s linear 1ms;
}

.input__like-input:checked ~ .input__like-label::before {
  content: "favorite";
  -webkit-transition: all 0.3s linear 1ms;
  transition: all 0.3s linear 1ms;
}
