@import "../../../library/templates/base";
.menu {
	display: grid;

	&__elem {
		font: $body;
		line-height: 17px;
		color: $grey50;
		&_current {
			font-weight: 700;
			color: $grey75;
		}
		&_title {
			font: $h3;
			text-transform: uppercase;
			color: $grey;
		}
		&_spoiler {
			padding-right: 20px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 24px;
				height: 21px;
				background-image: url("../../../src/img/spoiler.svg");
				background-repeat: no-repeat;
				background-position: center center;
				background-size: auto;
				background-color: white;
				right: -4px;
				top: -2px;
			}
		}
	}
}
