@import "../../../library/templates/base";
@import "../../../library/blocks/expandable-list/expandable-list";

.menu {

    /*&__f-submenu {
        & .menu__elem {
            margin-bottom: 20px;
        }

        @media (max-width:550px) {
            display: none;
        }
    }*/

    &__elem {
        font: $body;
        line-height: 17px;
        color: $grey50;

        &_current {
            font-weight: 700;
            color: $grey75;
        }

        &_spoiler {
            padding-right: 10px;

            & .menu__elem {
                margin: 5px;
                padding-bottom: 5px;
                border-bottom: solid 1px $grey25;
                color: $grey75;
            }
        }

        /*&_title {
            font: $h3;
            text-transform: uppercase;
            color: $grey;
        }*/

    }
}