.menu {
  display: -ms-grid;
  display: grid;
}

.menu__elem {
  font: 400 14px/24px "Montserrat", sans-serif;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.menu__elem_current {
  font-weight: 700;
  color: rgba(31, 32, 65, 0.75);
}

.menu__elem_title {
  font: 700 12px/15px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1f2041;
}

.menu__elem_spoiler {
  padding-right: 20px;
  position: relative;
}

.menu__elem_spoiler::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 21px;
  background-image: url("../../../src/img/spoiler.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  background-color: white;
  right: -4px;
  top: -2px;
}
