@import "../../../library/mixins/text";
.menu {
	display: grid;

	&__elem {
		@include text_Body;
		line-height: 17px;
		opacity: 0.5;
		&_current {
			font-weight: 700;
			opacity: 0.75;
		}
		&_title {
			@include text_H3;
			opacity: 1;
		}
		&_spoiler {
			padding-right: 20px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 24px;
				height: 21px;
				background-image: url("../../../src/img/spoiler.svg");
				background-repeat: no-repeat;
				background-position: center center;
				background-size: auto;
				background-color: white;
				right: -4px;
				top: -2px;
			}
		}
	}
}
