.menu {
  display: -ms-grid;
  display: grid;
}

.menu__elem {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  line-height: 17px;
  opacity: 0.5;
}

.menu__elem_current {
  font-weight: 700;
  opacity: 0.75;
}

.menu__elem_title {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 1;
}

.menu__elem_spoiler {
  padding-right: 20px;
  position: relative;
}

.menu__elem_spoiler::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 21px;
  background-image: url("../../../src/img/spoiler.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  background-color: white;
  right: -4px;
  top: -2px;
}
