extends ../../../library/templates/base.pug
block title
	title "UI Kit: Cards"
block styles
	link(rel="stylesheet" href="cards.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
block body
	.container
		.column
			+card('Найдём номера под ваши пожелания','','search')
			+card('Регистрация аккаунта','','signin')
		.column
			+card('','','booking')(roomNumber="888" roomType="Люкс" roomPrice="9 990")
			+card('Войти','','login')
		.column
			.calendar
				+date('','','','default')(data-inline="true" data-clear-button="true" data-apply-button="true")
			+card('','','room')(roomNumber="888" roomType="Люкс" roomPrice="9 990" reviewsCount="145" imgSrc="../../../src/img/888.jpg")
			+card('','','room')(roomNumber="840" roomType="" roomPrice="9 990" reviewsCount="65" imgSrc="../../../src/img/840.jpg")


	script(src="../../../library/blocks/date/date.js")
	script(src="../../../library/blocks/dropdown/dropdown.js")
	script(src="../../../library/blocks/textfield/textfield.js")
	script(src="cards.js")