@import "../../../library/templates/base";
@import "../../../library/nullstyle/nullstyle.scss";
@import "../../../src/fonts/fonts";
@import "../../../library/blocks/card/card";


.container {
    display: grid;
    grid-template-columns: 380fr 380fr 320fr;
    column-gap: 40px;
    margin: 10.42vw 9.72vw 9.72vw 9.72vw;

    @media (max-width:1150px) {
        grid-template-columns: 380fr 380fr;
        row-gap: 40px;
    }

    @media (max-width:768px) {
        grid-template-columns: 1fr;
    }
}

.calendar {
    display: grid;
    width: 320px;
    height: 335px;
    box-shadow: 0px 10px 20px $grey05;

    & .datepicker {
        background-color: white;
    }

    & .date {
        border: none;
        padding: 0;

        &__input,
        &__arrow {
            display: none;
        }
    }
}

.column {
    display: grid;
    row-gap: 40px;
    grid-template-rows: repeat(auto-fill, min-content);
    justify-content: center;
    align-content: start;
}