@mixin font($family, $weight, $size, $line) {
	color: #1f2041;
	font-family: $family;
	font-weight: $weight;
	font-size: $size;
	line-height: $line;
}
@mixin text_H1 {
	@include font(Quicksand, 700, 24px, 30px);
}
@mixin text_H2 {
	@include font(Quicksand, 700, 19px, 24px);
}
@mixin text_H3 {
	@include font(Montserrat, 700, 12px, 15px);
	text-transform: uppercase;
}
@mixin text_Body {
	@include font(Montserrat, 400, 14px, 24px);
	color: rgba(31, 32, 65, 0.75);
}
@mixin shadow {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}
