@import "../../../library/templates/base";
@import "../../../library/blocks/textfield/textfield";
@import "../../../library/plugins/air-datepicker/css/datepicker";

.date {
    position: relative;
    display: flex;
    padding: 2px;
    min-width: 140px;
    width: 100%;

    &__arrow {
        //flex: 12.5;
        background: none;
        border: none;

        &::after {
            @include material-icon;
            content: "keyboard_arrow_down";
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            color: $grey75;
        }
    }

    &_open &__arrow::after {
        content: "keyboard_arrow_up";
    }

    &__input {
        //flex: 87.5;
        font: $body;
        width: 100%;

        &::placeholder {
            color: $grey25;
        }
    }
}