.date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}

.date__arrow {
  -webkit-box-flex: 12.5;
      -ms-flex: 12.5;
          flex: 12.5;
  background: none;
  border: none;
}

.date__arrow::after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "keyboard_arrow_down";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  color: rgba(31, 32, 65, 0.75);
}

.date_open .date__arrow::after {
  content: "keyboard_arrow_up";
}

.date__input {
  -webkit-box-flex: 87.5;
      -ms-flex: 87.5;
          flex: 87.5;
  padding-left: 13px;
  font: 400 14px/24px "Montserrat", sans-serif;
  width: 100%;
}

.date__input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.date__input:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.date__input::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.date__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
