@import "../../../library/templates/base";

.footer {
    width: 100%;
    background-color: white;
    box-shadow: 0px 10px 20px $grey05;
    display: flex;
    justify-content: space-around;

    &__title {
        max-width: 220px;
        font: $h3;
        color: $grey;
        text-transform: uppercase;
    }

    &__wrapper {
        background-color: white;
        display: grid;
        width: 100%;
        padding-left: 140px/$width*100%;
        padding-right: 140px/$width*100%;
    }

    &_full {
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        grid-template-rows: auto 70px;
        justify-content: space-between;
        column-gap: 2.76vw;
        align-items: start;
        row-gap: 100px;
        padding-top: 100px;

        @media (max-width:767px) {
            justify-items: center;
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, minmax(min-content, 100%));
            column-gap: normal;
            row-gap: 50px;
            padding-bottom: 100px;
        }
    }

    &_min {
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        justify-content: center;
        align-content: center;
        row-gap: 20px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__text {
        font: $body;
    }

    &__menu {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        grid-template-rows: repeat(2, auto);
        justify-content: space-between;
        column-gap: 4.16vw;
        grid-auto-flow: column;
        row-gap: 20px;

        & .expandable-list::after,
        & .expandable-list.open::after {
            left: -25px;
            top: -3px;

            @media (min-width: 550px) {
                content: "";
            }
        }

        & .element__body {
            grid-column: initial;
        }

        & .element__list {
            row-gap: 20px;
            grid-template-rows: repeat(4, min-content);
        }

        @media (max-width:550px) {
            height: auto;
            grid-template-columns: 100%;
            grid-auto-flow: column;
            grid-template-rows: repeat(4, auto);

            & .menu__elem_title {
                position: relative;

                &::after {
                    @include material-icon;
                    content: "keyboard_arrow_down";
                    position: absolute;
                    color: $grey50;
                    width: 22px;
                    height: 22px;
                    left: -25px;
                    top: -5px;
                }

                &:hover+ul.menu__f-submenu {
                    display: block;
                }
            }
        }
    }

    &__form {
        height: 168px;
        max-width: 260px;
        margin-left: 10px;
        display: grid;
        grid-template-rows: repeat(3, max-content);
        align-items: start;
        row-gap: 20px;
    }

    &__copyright {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font: $body;

        @media (max-width:767px) {
            grid-row-start: 4;
            grid-row-end: auto;
            grid-column-start: auto;
            grid-column-end: auto;
        }
    }

    &__logoandtext {
        display: grid;
        row-gap: 20px;

        &_start {
            justify-items: start;
            grid-template-columns: minmax(min-content, 260px);
            height: 168px;

            @media (max-width:767px) {
                grid-template-columns: minmax(min-content, max-content);
                justify-items: center;
                height: 100%;
            }
        }

        &_center {
            justify-items: center;
            grid-template-columns: minmax(min-content, max-content);
            text-align: center;
        }
    }
}