.button {
  font: 700 12px/15px "Montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 22px;
}

.button_white {
  margin: auto;
  color: #bc9cff;
  background: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 22px;
}

.button_white::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.button_purple {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
