@import "../../../library/templates/base";

.button {
    font: $h3;
    text-transform: uppercase;
    border-radius: 22px;
    width: 99px;
    min-width: 99px;
    height: 44px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    &_white {
        color: $purple;
        background: $gradient;
        padding: 2px;

        &:hover {
            background: $gradient50;
        }
    }

    &_purple {
        color: white;
        background: $gradient;

        &:hover {
            opacity: 0.5;
        }
    }

    &_text {
        justify-content: flex-start;
        min-width: 66px;
        width: min-content;
        color: $purple;
        border: none;
        background: none;
        width: auto;
        height: auto;

        &-grey {
            color: $grey50;
        }
    }

    &_wide {
        width: 100%;
        min-width: 200px;
    }

    &_arrowed {
        position: relative;
    }

    &__arrow {
        position: absolute;
        right: 14px;
        bottom: 10px;
        color: inherit;
    }

    &__inner {
        display: flex;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: inherit;
        justify-content: center;
        align-items: center;
    }
}