.button {
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 22px;
  border: 2px solid;
}

.button_white {
  color: #bc9cff;
  background-color: white;
  border-color: #bc9cff;
}

.button_purple {
  color: white;
  background-color: #bc9cff;
  border-color: #bc9cff;
}
