.page {
  background-color: #e5e5e5;
}

.page__container {
  max-width: 80.55556%;
  height: 100%;
  margin-top: 10.41667%;
  margin-bottom: 9.02778%;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  row-gap: 4.44444%;
}
