.page {
  background-color: #e5e5e5;
  min-height: 1350px;
  height: 100%;
}

.page__container {
  display: -ms-grid;
  display: grid;
  margin-top: 11.11111%;
  margin-bottom: 9.62963%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  row-gap: 40px;
}
