mixin range(title='',subtitle='',mainClasses='')
	if title=="" && subtitle==""
		- mainClasses+=' element_nullgap';
	.element.range(class=mainClasses)
		span.element__title=title
		span.element__subtitle.range__value=subtitle
		.element__body
			input(type="text" name="my_range" value="").js-range-slider.range__input