mixin expandable-list(title='',mainClasses='',isOpen=0,isInline=1)
	if title==""
		- mainClasses+=' element_nullgap';
	- mainClasses+=" expandable-list"
	if isOpen
		- mainClasses+=" open";
	if !isInline
		- mainClasses+=" float";
		.element(class=mainClasses)&attributes(attributes)
			span.element__title= title
			block
	else
		- classList+=" inline element__title";
		.element(class=mainClasses)&attributes(attributes)
			span.element__title= title
			block