body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  body {
    background-image: none;
  }
}

body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  body {
    background-image: none;
  }
}

.element {
  width: 100%;
  max-width: 320px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: start;
  row-gap: 5px;
}

.element__subgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px -10px -1px -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.element__subgrid_inner {
  margin: 15px 10px;
}

.element_largegap {
  row-gap: 16px;
}

.element__title {
  font: 700 12px/15px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1f2041;
  -ms-grid-column-align: start;
      justify-self: start;
}

.element__subtitle {
  font: 700 12px/15px "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.5);
  -ms-grid-column-align: end;
      justify-self: end;
}

.element__body {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.element_short {
  max-width: 266px;
}

.element_short .line {
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.element_shorter {
  max-width: 220px;
}

.element_shorter .line {
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.element__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
}

.element_large {
  width: 120%;
}

@media (max-width: 350px) {
  .element_large {
    width: 100%;
  }
}

.expandable-list {
  position: relative;
}

.expandable-list::after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "keyboard_arrow_down";
  color: rgba(31, 32, 65, 0.5);
  width: 22px;
  height: 22px;
  position: absolute;
  right: -84px;
  top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expandable-list.float::after {
  right: -10px;
}

.expandable-list.open::after {
  content: "keyboard_arrow_up";
}

.expandable-list + ul,
.expandable-list.float ul {
  display: none;
}

.expandable-list.open + ul,
.expandable-list.open.float ul,
.expandable-list.lock + ul {
  display: -ms-grid;
  display: grid;
}

.expandable-list.float ul {
  position: absolute;
  top: 100%;
  right: -10%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 10;
  color: #1f2041;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 5px;
}
