.header {
	height: 70px;
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 106px auto min-content;
	align-items: center;
	column-gap: 30px;
	&__logo {
	}
	&__menu {
		justify-self: end;
		grid-template-columns: repeat(6, max-content);
		column-gap: 30px;
	}
	&__buttons {
		justify-self: end;
		display: grid;
		grid-template-columns: repeat(2, max-content);
		column-gap: 20px;
	}
	&__button-login {
	}
	&__button-reg {
	}
	&__last-link {
		::before {
			content: "";
			border-left: solid 2px #1f2041;
			padding-left: -30px;
		}
	}
}
