@import url("/src/fonts/montserrat.css") all;
@import url("/src/fonts/quicksand.css") all;

.page {
  display: grid;
  grid-template-areas:
    "header header"
    "column-1 column-2"
    "footer footer";
  grid-template-columns: 50% 50%;
}
.header {
  grid-area: header;
}
.header__logo {
  margin-top: 25px;
  margin-left: 25px;
}
.logo {
  width: 48px;
  height: 48px;
  background-image: url(/src/img/left.svg), url(/src/img/right.svg);
  background-repeat: no-repeat;
  background-position: 11px 18px, 26px 18px;
  opacity: 0.25;
  border-radius: 50%;
  border-color: #1f2041;
  border-style: solid;
  border-width: 2px;
}
.column {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  flex-direction: column;
}
.page__column-1 {
  margin-left: 142px;
  margin-top: 60px;
}
.page__column-2 {
}
.column_1col {
}
.column__elem {
  max-height: 90px;
}
.square {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  float: left;
  margin-right: 40px;
}
.column__title {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.text {
  color: #1f2041;
}
.square_color-darkshade {
  background-color: #1f2041;
  border-color: #1f2041;
  border-style: solid;
}
.square_color-purple {
  border-color: #bc9cff;
  border-style: solid;
  background-color: #bc9cff;
}
.square_color-green {
  border-color: #6fcf97;
  border-style: solid;
  background-color: #6fcf97;
}
.opacity_75 {
  opacity: 0.75;
}
.opacity_50 {
  opacity: 0.5;
}
.opacity_25 {
  opacity: 0.25;
}
.opacity_5 {
  opacity: 0.05;
}
.text_h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.text_h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}
.text_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.text_maintext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.text_logo {
}

.column__text {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 19px;
  margin-top: 5px;
}
