@import "../../../library/mixins/text";
.form {
	&__title {
		max-width: 220px;
		@include text_H3;
	}
	&__text {
		max-width: 220px;
		@include text_Body;
	}
	&__text-submit {
		position: relative;
		max-width: 260px;
	}
}
