.form__title {
  max-width: 220px;
  font: 700 12px/15px "Montserrat", sans-serif;
  text-transform: uppercase;
}

.form__text {
  max-width: 220px;
  font: 400 14px/24px "Montserrat", sans-serif;
}

.form__text-submit {
  position: relative;
  max-width: 260px;
}
