@import "../../../library/templates/base";
.form {
	&__title {
		max-width: 220px;
		font: $h3;
		text-transform: uppercase;
	}
	&__text {
		max-width: 220px;
		font: $body;
	}
	&__text-submit {
		position: relative;
		max-width: 260px;
	}
}
