.form__title {
  max-width: 220px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.form__text {
  max-width: 220px;
  color: #1f2041;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.form__text-submit {
  position: relative;
  max-width: 260px;
}
