body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0.1px;
  background-color: white;
  font: 400 14px/24px "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  body {
    background-image: none;
  }
}

.bullet-list {
  font: 400 14px/24px "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.75);
}

.bullet-list__elem {
  position: relative;
  padding-left: 21px;
}

.bullet-list__elem::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7.5px;
}
