mixin bullet-list(title='',subtitle='',mainClasses,...items)
	if title=="" && subtitle==""
		- mainClasses+=' element_nullgap';
	.element(class=mainClasses)
		span.element__title=title
		span.element__subtitle=subtitle
		ul.bullet-list.element__body.element__list
			each item in items
				li.bullet-list__elem= item
