body {
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  margin: 0 auto;
  color: rgba(31, 32, 65, 0.75);
  background: left 30px top 30px no-repeat url("../../../src/img/logo.svg");
}

@media (max-width: 767px) {
  .container {
    background-image: none;
  }
}

.bullet-list {
  font: 400 14px/24px "Montserrat", "Open sans", sans-serif;
  color: rgba(31, 32, 65, 0.75);
}

.bullet-list__elem {
  position: relative;
  padding-left: 21px;
}

.bullet-list__elem::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7.5px;
}
