.footer {
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 100%;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: 372px 70px;
      grid-template-rows: 372px 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 0;
}

.footer__text {
  max-width: 260px;
}

.footer__menu {
  height: 168px;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: (max-content)[5];
      grid-template-rows: repeat(5, -webkit-max-content);
      grid-template-rows: repeat(5, max-content);
  -webkit-column-gap: 120px;
          column-gap: 120px;
  grid-auto-flow: column;
  row-gap: 20px;
}

.footer__form {
  height: 168px;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 20px;
}

.footer__copyright {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logoandtext {
  height: 168px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  justify-items: start;
  row-gap: 20px;
}
