.footer {
  background-color: white;
  display: -ms-grid;
  display: grid;
  max-width: 80.55556%;
  margin-left: auto;
  margin-right: auto;
}

.footer_full {
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: 372px 70px;
      grid-template-rows: 372px 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 0;
}

.footer_min {
  height: 367px;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 20px;
}

.footer__menu {
  height: 168px;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: (max-content)[5];
      grid-template-rows: repeat(5, -webkit-max-content);
      grid-template-rows: repeat(5, max-content);
  -webkit-column-gap: 120px;
          column-gap: 120px;
  grid-auto-flow: column;
  row-gap: 20px;
}

.footer__form {
  height: 168px;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 20px;
}

.footer__copyright {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logoandtext {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
}

.footer__logoandtext_start {
  justify-items: start;
  -ms-grid-columns: 260px;
      grid-template-columns: 260px;
  height: 168px;
}

.footer__logoandtext_center {
  justify-items: center;
  -ms-grid-columns: 560px;
      grid-template-columns: 560px;
  text-align: center;
}
